[2014-11-05 09:07] frankrousseau opened #9 "Connection error are not well reported"
When I connect to a service where an error occured (let's say bad credentials), the error is never reported.

[2014-12-05 10:51] jsilvestre opened #16 "B&You connector is broken"
Since B&You and Bouygues Telecom have merged, B&You website is no use anymore and ask the user to go to the new BT website.

* the connector should be renamed
* the connector should be fixed

I tried to fix it by myself but haven't managed to open a single page (got multiple Tomcat errors from their servers...)

[2015-01-23 16:55] jsilvestre commented on #16
We removed it because b&you doesn't exist anymore.

[2015-01-23 16:55] #16 closed

[2015-01-23 16:55] #9 closed

[2015-01-23 16:57] jsilvestre opened #21 "Spinner when a connector is importing should be the same as in Files"

[2015-01-23 16:59] jsilvestre opened #22 "Starting date for automatic import doesn't work"

[2015-01-23 17:04] jsilvestre opened #23 "When there is an error, folder path is not saved"
(with connector Free)

[2015-01-23 17:04] jsilvestre opened #24 "Fonts are not Cozy fonts"

[2015-01-28 08:23] jsilvestre commented on #23
@poupotte found out that the error is actually a display error. The folder path is properly saved.

[2015-01-28 08:24] jsilvestre commented on #22
This is kinda complicated, @poupotte cleaned up the code and makes the calculus easier to understand.

[2015-01-28 09:41] #21 closed

[2015-01-28 09:41] #24 closed

[2015-01-28 13:05] frankrousseau commented on #21
I don't know why but after updating I still see the old icon.

[2015-01-28 13:16] jsilvestre commented on #21
Sorry, I forgot to build. Pushing it right now.

[2015-01-28 13:20] jsilvestre opened #26 ""Import" button should be blocked when an import is running"

[2015-01-28 15:21] frankrousseau opened #29 "Free konnector is broken"
Free konnector doesn't look to work anymore.

[2015-01-28 15:30] jsilvestre commented on #23
Closed by #28, thank you @poupotte

[2015-01-28 15:30] #23 closed

[2015-01-29 08:00] #26 closed

[2015-02-06 15:56] aenario opened #37 "Linting"
[code]

gives us quite a few error.

[2015-02-06 16:02] frankrousseau commented on #37
I think we should add it to Travis too.

[2015-02-16 08:04] jsilvestre opened #38 "Lost fields"
I enabled auto-import, and I am constantly losing encrypted fields...

[2015-02-19 07:58] jsilvestre opened #39 "Removing error notification when a manual import is successful"
Title says it all.

[2015-03-08 15:23] frankrousseau commented on #38
The error is still here when an error occurs.

[2015-03-24 08:21] jsilvestre commented on #38
It happens every time the data system restarts for me.

[2015-04-22 13:03] EtienneM commented on #29
Hi!

I tried today and it works

[2015-04-22 13:06] EtienneM opened #49 "Free konnectors needs Files app"
Hi!

I wanted to use the Free konnectors and the "Chemin du dossier" is empty. I cannot select anything because I don't use the Files app. So I installed the Files app to be able to use it. It could have been good to have a message somewhere that mention I need this app.

[2015-04-22 13:08] EtienneM opened #50 "Github commit konnectors and double authentication"
I would like to use the Github commit konnector but I use the double authentication. Will the konnector work anyway? On my Cozy installation it says that the import has been done but I don't know how to see the imported data...

[2015-04-22 13:22] frankrousseau commented on #29
Thank you @EtienneM that's an old issue. I fixed the konnectors weeks ago.

[2015-04-22 13:22] #29 closed

[2015-04-22 13:22] frankrousseau commented on #49
You're right. Thank you for the suggestion.

[2015-04-22 13:23] frankrousseau commented on #50
You can see them in the Databrowser application (but the Databrowser is quite buggy).

You can see dataviz (graphs) in the KYou application.

Sometimes I have weird results, I'm not sure it works properly.

[2015-04-22 13:43] EtienneM commented on #50
I cannot find any imported commit in the data browser. So maybe the import was not successful because of the double authentication. However no message told me the status of the import operation.

[2015-04-22 15:19] frankrousseau commented on #50
Yes, it's sure the konnector doesn't handle the double authentication. Sorry about that.

[2015-04-22 15:19] frankrousseau commented on #50
I add the bug label because of the lack of message about the failure.

[2015-05-01 10:30] frankrousseau opened #52 "Add file name for bank operation"
When a link is created between a bank operation and a bill binary, there is only a link to the binary. But it would be nice to have the original file name.

[2015-05-01 15:08] frankrousseau opened #53 "Digital Ocean Bills"
A konnector to download Digital Ocean bill.

[2015-05-01 15:08] frankrousseau opened #54 "OVH Bills"
A konnector to download OVH bills.

[2015-05-03 22:13] frankrousseau opened #55 "Sosh Bills"
Fetching bills from Sosh phone operator would be nice.

[2015-05-07 07:25] bnjbvr commented on #52
So that's the right way to solve https://github.com/bnjbvr/kresus/issues/97 ?

[2015-05-07 07:25] bnjbvr opened #56 "Numericable bills"
Another Konnector idea.

[2015-05-07 07:27] bnjbvr commented on #38
I think I am experiencing this issue as well: sometimes, I get the notification that there was an error when importing data (from github commits, for instance), after a restart of the entire system. Giving it a look in the data browser shows me that the password field of the connector got reset somehow. Is it the same issue?

[2015-05-07 07:34] jsilvestre commented on #38
It is indeed, I didn't have time to check it out yet.

[2015-05-10 21:23] arthurlutz opened #57 "Folder dropdown should be refreshed when creating a folder in the Files app"
When trying out konnectors, I had no folders in the Files app, so the dropdown was empty, when I understood what the menu was for, I went to create a folder in the Files app (in a separate tab). It would be nice to have a refresh of the drop down.

[2015-05-10 21:32] arthurlutz opened #58 "Add push type konnectors"
It would be nice to have a way of defining new konnectors that can be written to via a HTTP POST or PUT... so one can script them from outside of cozy to push data into it.

When defining a new metric, some example code in curl or python could be shown for the generated unique URL to be used.

... or maybe this is for a different app (kyou?).

[2015-05-10 21:33] arthurlutz opened #59 "use oauth for github konnector"
It would be nice not to have to store our github password in the konnector app for the github data grabbing.

[2015-05-10 21:36] arthurlutz opened #60 "Add instructions to twitter konnector"
The twitter konnector probably needs a bit of context, I couldn't  easily find a way to add an application to get the consumer key etc.

By the way, it feels a bit heavy to have to create an app (which I personnaly can't since I don't have a mobile phone setting in my twitter account) to be able to access the data. Could there be a cozy provided app ? Or is that a problem as far as privacy is conc

[2015-05-11 08:16] arthurlutz opened #61 "konnector to import issues reported on github"
contributions are not only code commits, issues reported or commented are an interesting indicator too.

[2015-05-12 21:48] ZeHiro opened #62 "Free Mobile bills"
I already have a first version working fine, but :
- Code is ugly (spaghetti inside)
- Maybe some steps are not required (the auth sequence on the wesite is a pain in the ass)
- Code is ugly (not sure it is state of the art coffeescript)
- It adds a new dependency (due to the need to decode png keyboard)
- It is full of console.log (blabla)
When I have reworked it, I'll create a pull request

[2015-05-19 09:53] arthurlutz opened #63 "Konnector for last.fm / libre.fm"
Import data from last.fm / libre.fm

Could get a simple aggregate (eg. tracks listenned by day) or the full data

[2015-05-19 12:18] clochix opened #64 "Allow to use connectors from third party repository"
This would allow to use use connectors not developed by Cozy without having to merge them into main repository and maintain them.

[2015-05-19 12:20] clochix opened #65 "Write a tutorial explaining how to create a connector"
Writing a connector is not very hard, but documentation is missing. Writing a tutorial would encourage people needing other connectors to write them themselves, with our help.

[2015-05-19 13:48] frankrousseau commented on #57
Thank you @arthurlutz for reporting.

[2015-05-19 13:49] frankrousseau commented on #58
Would be awesome. But we need a good real life use case before doing it.

[2015-05-19 14:04] frankrousseau commented on #65
You're definitely right.

[2015-05-19 14:05] frankrousseau commented on #64
Quite complex currently. Moreover I prefer every konnectors to be audited before being deployed.

[2015-05-20 21:29] ZeHiro opened #68 "[free] 'bad credential' not raised"
When the credential are bad (wrong login)

- no 'err' in the request
- a 'res.headers.location' is defined (something like /login/login.pl?login=TRYED_LOGIN&error=1)
- res.statusCode = 302

A check over the location structure (find 'error' in it) as an extra condition would fix this.
I will propose a fix soon.

[2015-05-21 05:33] ZeHiro commented on #38
If seems to come from the used version of 'ware'. When upgrading to 1.3.0 (the last one), I can't reproduce anymore, whereas with version 0.3.0, the one used in 0.2.8 of konnectors, this bug was easily reproduceable : use bad credential and the password was deleted.

[2015-05-21 05:40] ZeHiro opened #71 "Impossible to import data when 'bad credential' is raised"
This bug appears in free and free mobile konnectors :
use bad credential (non empty fields)
try to import bills
'bad credential' is raised
use good credentials
try to import bills
'bad credential' is still raised (based on the time it takes before the error is raised, the error is raised at the beginning of the fetcher)

Restarting konnectors is necessary to import bills.

[2015-05-22 17:03] frankrousseau commented on #60
Twitter doesn't allow to connect to its API without an app. That's why we create one. Grabbing data through scrapping is heavy too.

[2015-05-24 23:50] #49 closed

[2015-05-24 23:50] #57 closed

[2015-05-24 23:50] #60 closed

[2015-06-10 06:30] ZeHiro opened #75 "Free konnector broken"
https://github.com/cozy-labs/konnectors/blob/master/server/konnectors/free.coffee#L102
and L103
These lines should be :
        isError = res.headers.location? and
            res.headers.location.indexOf("error") isnt -1

[2015-06-10 06:54] ZeHiro commented on #75
I'll propose a PR for this issue and for a fix for freemobile connector

[2015-06-10 10:36] frankrousseau commented on #75
Ok thank you. It's probably a mistake I did in my last merge.

[2015-06-19 07:19] ZeHiro opened #77 "Allow to select a period when importing bills (or else)"
It could be nice to be able to import bills only over a given period.
Use case :
- An account is given to another person in a flatshare (a member is leaving)
- Improve fetching time on automatic updates (only import bills between last import and fetchinf date)

[2015-06-26 13:31] clochix opened #80 "Counter not refreshed when importing documents"
Eravion reported that when he adds a new account, documents are fetched but he needs to reload page to refresh counter.
It would be nice to refresh counter as soon as new documents are fetched.

[2015-06-30 08:54] eravion commented on #38
Hello,
I configured my twitter account and after a reboot the credential is lost.
I don't have the problem with free or Bouygues Telecom invoice.

My feedback to push the topic ;)

[2015-06-30 08:58] bnjbvr commented on #38
Same here with Github commit. My girlfriend has the same issue with Withings. Please please, pretty please.

[2015-06-30 18:34] eravion opened #81 "Konnector for ooshop"
Get invoice pdf from ooshop : www.ooshop.com

[2015-06-30 18:42] eravion opened #82 "Konnector to import banking pdf"
Konnector to import bank pdf of account operation.
The idea is to upload old entries in Kresus.

[2015-06-30 19:05] eravion commented on #81
I asked to weboob team, with our answer
https://weboob.org/issues/1873

[2015-06-30 20:47] ZeHiro commented on #82
Importing bank pdf is already possible with weboob (the backend used by kresus). Importing old entries in kresus will be done with ofx files if @bnjbvr appproves the solution.

[2015-06-30 20:55] bnjbvr commented on #82
Importing OFX files sounds good to me.

[2015-06-30 21:06] ZeHiro commented on #81
Writing a konnector is not hard, if you know a bit of coding, I can help you develop one if necessary.

[2015-07-01 08:23] eravion commented on #82
good news, thanks.

[2015-07-01 08:29] eravion commented on #81
I know a bit of coding, but not in Java ...
I'm mainly scripting in bash for sysadmin tasks.
I'll check ooshop web site to understand how to get pdf invoiced.
If I can develop something in bash, I'll explain you how it works and, maybe we can develop a Konnector together.

[2015-07-01 08:46] frankrousseau commented on #81
NB: We can provide assitance for coding a konnector. :)

[2015-07-02 11:04] eravion commented on #81
I'll write whet I have.
One remaining point is to hack the password ...

First login to get the cli_id
Need : login (email of customer) and password
Pb password is scrambled - TO reverse encryption system pwd toto = 65E1A5E1C0000000
http://mshop.carrefour.com/convertigo/projects/ooshop/.json?__sequence=CheckLogin&login=${LOGIN}&password={PASSWORD}
From the answer, get the cli_id

Get list of all i

[2015-07-02 18:03] ZeHiro commented on #81
Can't we get the invoices through the regular ooshop website? We would get the pdf this way no?
HAcking the connection process of the wesite wouldn't be to hard. Then  the konnector just go through the webpage and look for the invoices, before downloading them.

[2015-07-02 18:09] ZeHiro opened #85 "Allow to define the structure of the name file of a pdf bill"
Hello,

I am developping two new konnectors, one for amazon one for capitaine train. The current module to download the pdf has a fixed structure for the pdf names, as the previsou konnectors are only meant to downoad recurrent bills.
The bills of amazon or capitainetrain are obviously not recureent, so the structure of the file name does not fit for these konnectors. I would like to propose a "ge

[2015-07-02 18:17] eravion commented on #81
Yes it looks possible to go through the web site, but it is aspx and I don't understand how to connect.
If you want to test, you can create an account for free.
Second point is that the web site is not providing pdf. The invoice are available in texte mode by a function used to print the invoice. once again this is aspx.

The site used by Apps is more easy to understand for me. Despite the passwor

[2015-07-02 18:59] frankrousseau commented on #85
I think date and vendors as prefix are mandatory. The rest could be anything (it's the way I do with my manual workflow is).

[2015-07-02 19:10] ZeHiro commented on #85
I agree, but now, the module sets the date to YYYYMM :) The idea would be to allow the konnector developper to set a name structure, ans the module would parse it and apply it.

[2015-07-02 20:31] ZeHiro commented on #81
Info to import from basket :
 "id": "96568",
"title": "Framboise Cat 1",
 "uvc_buy": "3.50",
 "contenance": "la barquette de 125g",
"uvc_info": "26.92 € \/ kg",
"img_product_url": "Media\/ProdImages\/Produit\/Images\/3660239015488.gif", => TO CHANGE TO EAN
 "is_dispo": "true",
"art_qte": "4"

[2015-07-03 08:14] kosssi commented on #85
capitainetrain <3

Where is your PR :dancer:

[2015-07-03 08:35] ZeHiro commented on #85
Hmm, not now, still working on it :)

[2015-07-03 18:42] eravion commented on #81
Hello,

More information about "howto" login

1/ get the content of __VIEWSTATE variable and the content of __EVENTVALIDATION variable
curl "http://www.ooshop.com/courses-en-ligne/WebForms/Utilisateur/VerifEligibilite.aspx"  | egrep "(__VIEWSTATE|__EVENTVALIDATION)"

2/ in both variable replace all special character by web character
/ by %2F
+ by %2B

3/ login and get cli_id
We have 4 variables
US

[2015-07-03 19:42] vialibre opened #87 "Konnector for enercoop"
Enercoop is a french electricity provider : http://www.enercoop.fr/.
Login page : https://ael.enercoop.fr/

It would be nice to be able to fetch the monthly bills and match them with the bank account line.

Ps : some help would be appreciated where to start to write the connector. Is a weboob module needed ?

[2015-07-04 11:56] frankrousseau opened #88 "Add icons for konnectors"
I open and close this issue for logging. To make konnector more "visual" we added icons to each konnector.

@kelukelu performed the work.

[2015-07-04 11:56] #88 closed

[2015-07-04 12:14] #75 closed

[2015-07-04 12:16] frankrousseau commented on #68
Fixed by @ZeHiro

[2015-07-04 12:16] #68 closed

[2015-07-04 16:03] frankrousseau commented on #85
So tell me if the following changes could help you (ref: https://github.com/cozy-labs/konnectors/blob/master/server/lib/save_data_and_file.coffee#L12):

* Change date format generate by `save_data_and_file` to YYYYMMDDD.
* Check for a suffix in entry to add something after the default name.

[code]

[2015-07-04 16:19] #37 closed

[2015-07-04 16:19] #52 closed

[2015-07-05 12:04] ZeHiro commented on #85
I was thinking of something even more generic :
The 'suffix' parameter would be replaced by a fileNameParameter object :
fileNameParameter =
     suffix: 'vendor' #Compulsory
     dateFormat: 'YYYYYMM' #Optional
     extension: 'pdf' #optional
     otherParameters:
         [oderID]      #optional, must be a parameter of the entry object

The implementation would be :
if fileNameParameter.dateForm

[2015-07-05 21:39] ZeHiro commented on #85
There could even be a default reaction based on the type of fileNameParameter:
[code]

[2015-07-05 21:40] frankrousseau commented on #85
Yep I will work on it this week. Currently I'm working on a documentation on how to make konnectors. You can see it in the wiki:

https://github.com/cozy-labs/konnectors/wiki

[2015-07-05 21:41] frankrousseau commented on #85
By the way, thank you for the details. I understand better your need.

[2015-07-07 22:34] ZeHiro opened #90 "Allow to set the deltaMinDate/delatMaxDate by user"
Some bills are paid by "virement"or "card" instead of "prélevement", and therefore the match between bnkoperations and bills is not done, due to a date difference to important compared to what is coded in the konnector.

It should then be possible to select the date span to do the match, but several question need to be answer:
- when available, should this option always available? (hidden by defau

[2015-07-08 08:14] clochix commented on #38
@eravion [just mentioned](https://forum.cozy.io/t/konnector-impossible-de-demarrer-v-0-3-1-solved/902/8) in forum that latest refactoring of Konnectors seems to have fixed this issue. @jsilvestre, @bnjbvr, @ZeHiro could you give it a try and confirm ? Thanks !

[2015-07-08 08:44] ZeHiro commented on #38
It's been a long time since the last time I saw the problem (using Free, Free Mobile, and Github commits konnectors)

[2015-07-08 08:50] bnjbvr commented on #38
Seems fixed on my cozy, after reinstalling Konnectors + restarting the instance. Thanks!

[2015-07-08 18:42] eravion commented on #38
For twitter, it's different issue now.
The credential are not removed, but twitter Konnector still have "credential error" after the reboot.
Click on the "Save and Import" button force a new connection and fix the problem.

From my point of view, the problem looks partially fixed.

[2015-07-10 06:07] ZeHiro opened #91 "Allow to use several accounts of a single konnector"
A user asks for this possibility on the forum, as it has a pro and a personal account at the same provider:

https://forum.cozy.io/t/konnectors-2-comptes-pour-un-meme-service/933/1

[2015-07-10 06:13] ZeHiro opened #92 "[Free Mobile] Make the difference between sevel phone numbers for the same account"
Support multi line (several phone numbers for one account). Use the "phone numbre" to make the difference.

[2015-07-10 09:19] kosssi commented on #91
:+1:

[2015-07-10 11:11] f6fvy opened #93 "Possibility to re-import files from scratch"
If for some reason, you need to re-import files from a provider, you currently have to "tweak" some cached data. It should be easier to do, with some kind of button + confirmation alert etc.

[2015-07-10 11:58] f6fvy opened #94 "Being able to create a new files folder when initializing an import"
Currently, if the folder you want your data to be stored in does not exist, you have to switch to the Files app, create the folder, and get back to Konnectors to set the newly created folder and start the import. Rather cumbersome...

[2015-07-10 12:44] f6fvy commented on #92
I'm in that use case, and currently there a 2 different pdf files imported : One for the detailed phone bill of the "master number" of the account, and another one which is the summary of the various attached phones numbers. **But** these two files have the same name in the files app, which is kind of disturbing !

[2015-07-10 12:56] ZeHiro commented on #92
OK. I will make an update of the konnector, I wait for some other fixes to implement it in a clean way. Can you describe me what files are listed on the webpage? And if it is necessary to import all of them? I only have one line attached to my free mobile account.
When the update is made, could you then test-it?

[2015-07-11 12:03] frankrousseau commented on #85
I hope to be able to work on it tomorrow.

[2015-07-11 12:04] frankrousseau commented on #87
Hello @vialibre,

 Here is a documentation about how to write a konnector: https://github.com/cozy-labs/konnectors/wiki

It's a first draft, so I would be glad to have your feedback about it.

[2015-07-11 12:05] frankrousseau commented on #80
I removed the counter (too slow performance). So I pass this issue as an enhancement.

[2015-07-11 12:06] frankrousseau commented on #81
@ZeHiro I wrote a first draft of a documentation about how to write konnectors. It could help you: https://github.com/cozy-labs/konnectors/wiki

[2015-07-11 12:07] frankrousseau commented on #90
Good point. Thank you for beginning this conversation.

[2015-07-11 12:08] frankrousseau commented on #91
Thank you for reporting.

[2015-07-11 12:08] frankrousseau commented on #92
Thank you for reporting.

[2015-07-11 12:08] frankrousseau commented on #93
Yep, that one is definitely required. Thank you for reporting.

[2015-07-11 12:09] frankrousseau commented on #94
Good point. Thank you for reporting.

[2015-07-13 11:34] Aryess opened #96 "Unlink account"
There is no way at the moment to remove an account, at least from Konnectors UI.

[2015-07-13 11:56] frankrousseau commented on #96
You are right @Aryess. Thank you for reporting.

[2015-07-13 11:59] Aryess commented on #96
You're welcome :)
On 13 Jul 2015 12:56 pm, "Frank Rousseau" <notifications@github.com> wrote:

[2015-07-15 12:14] ZeHiro opened #97 "[Free Mobile] Manage the case where the session is already established"
When 2 imports are done in a short periode of time without restarting the application the import fails ("wrong credentials" error raised) because the session is still active.  (session cookie is kept), the keyboard is not proposed.

[2015-07-15 23:16] #97 closed

[2015-07-18 00:24] ZeHiro commented on #62
Can be closed. The konnector works fine.

[2015-07-18 00:26] ZeHiro commented on #85
Can be closed for now, the pr #95 is fine for what i asked. Thankx

[2015-07-18 12:33] frankrousseau commented on #85
Great!

[2015-07-18 12:33] #85 closed

[2015-07-18 12:34] #62 closed

[2015-07-18 12:34] frankrousseau commented on #62
Thx

[2015-07-18 14:38] #53 closed

[2015-07-18 21:49] ZeHiro opened #99 "When there is no icon available, the first one in the list is used"
In 0.3.2, the first icon in the list is Bouygueś. Shouldn't this be the Konnectorś icon?

[2015-07-18 22:27] frankrousseau commented on #55
Done!

[2015-07-18 22:27] #55 closed

[2015-07-18 22:28] frankrousseau commented on #65
Done:

https://github.com/cozy-labs/konnectors/wiki

[2015-07-18 22:28] #65 closed

[2015-07-20 07:58] kosssi commented on #65
:+1:

[2015-07-21 08:20] eravion opened #101 "Konnector for Orange bills"
I have an account and I can help.
But I don't have the knowledge to develop ...

[2015-07-21 09:59] eravion opened #102 "Konnector for SFR"
I have credential to help ...

[2015-07-23 16:45] frankrousseau commented on #102
Hello @eravion, could you send me a private message on the forum with your credentials?

[2015-07-23 16:46] frankrousseau commented on #101
Hello @eravion, could you send me a private message on the forum with your credentials?

[2015-07-23 18:04] eravion commented on #101
done by email not by forum message

[2015-07-28 09:30] nicofrand opened #105 "Twitter konnector HTML issue"
When using the Twitter konnector, I can see a small HTML markup issue :

Vous pouvez les générer via le href="https://apps.twitter.com/">tableau Twitter de gestion d'applications

[2015-07-28 09:32] nicofrand opened #106 "Display error if databrowser not installed"
Every konnector seems to need databrowser to be installed when clicking on "Données importées".
However, there is no error message if that is not the case (there is only a blank page).

[2015-07-28 15:23] cylwin opened #107 "Chess.com konnector"
Hello,
I dream of a chess.com konnector :
 - retrieve games and chess-png files
 - Retrieve elo classment to plot in a graph

Before implementing this konnector, I would like to know if i'm the only chess.com player using cozy or not.

Someone +1 to give me motivation ?

Bye

[2015-07-29 12:53] cylwin commented on #105
Hi,

Thank you for the report, fixed in https://github.com/cozy-labs/konnectors/commit/963a9a804100d7ce57ee62c15244c868e8d053c8

Bye

[2015-07-29 13:39] cylwin commented on #99
Seems to be fixed here :
https://github.com/cozy-labs/konnectors/commit/7943869d0ced76ef331ddba5f8b1315a67f85e07

[2015-07-29 14:23] #105 closed

[2015-07-29 15:38] frankrousseau commented on #99
Yes, it's fixed. Is it ok for you @ZeHiro?

[2015-07-29 15:39] ZeHiro commented on #99
Well, I cannot try, all konnectors now have a icon :) I need to try with a new konnector. I'll let you know when I do.

[2015-07-30 11:32] ZeHiro commented on #38
Could this problem be linked with https://github.com/cozy/cozy-data-system/issues/153
?

[2015-07-30 15:11] j2oo opened #109 "Konnector for VEOLIA consumsions"
Veolia recently allow for daily water consumsions  to be downloaded.(new counters only)
Sounds like a good idea for Konnectors?

[2015-07-31 08:25] jsilvestre opened #110 "Konnectors Github commits: wrong number of imported commits"
Every time the connector runs, the notifications states the same number of commits (if it has not changed in the meantime). I believe the number is the commits found, not those actually imported (which matters because of duplicates).

[2015-07-31 09:16] jsilvestre opened #111 "Fatal error in Twitter connector"
I tried to import my tweets this morning, and it didn't work. The application crashed, and then restarted. Here are the logs:
[code]

It's worth to mention that I then try again, and it worked. So apparently it only concerns the initial import.

[2015-07-31 12:47] ZeHiro opened #112 "[Free Mobile] Fix pdf URL"
Currently the pdf URL matched leades to an html page.
The url should be updated to be "built" and not only get from a link.

Question: is it possible to force reimport a file without touching databrowser? Should be necesseary. Maybe it could be interessting to check if the binary attached to the Bill (or Phone/Internet...bill) exist. If it does not, reimport

[2015-07-31 13:16] ZeHiro opened #113 "Allow to reimport a bill/file if file does not exist anymore"
Use case :

Bill deleted by user because the imported file is not a bill (#112). It allows not to use the databrowser

[2015-08-01 13:16] frankrousseau commented on #109
Yep, definitely a good idea!

[2015-08-04 20:17] #112 closed

[2015-08-04 22:20] ZeHiro opened #116 "Add function to migrate Phonebills (or other type of bill) to Bill model"
I'll make a proposal.

[2015-08-06 14:14] Mistress-Anna opened #117 "License?"
There should be a LICENSE.txt or COPYING.txt for a quick view. Currently there only seems to be an indication in packages.json, which is only for people who know the framework, and also know the license is in this file. Additionally, there's no version number of the license.

[2015-08-07 12:13] nical opened #121 "Error: konnectors CANT START at onExit spawner.js:119:25"
I get this error when installing  Konnectors on my cozy (On a debian at hosted at DigitalOcean):

[code]
I tried to uninstall and re-install konnectors, but I am running into the same error.

[2015-08-07 12:16] nono opened #122 "Default logo for new connectors"
Each connector has a logo on the webapp. For DigitalOcean and Sosh, the logo is not in the sprite and fallback to the first one (Bouygues in my case). It should be nice to have a default logo for connectors instead of showing the Bouygues logo for Sosh.

[2015-08-07 12:17] nical commented on #121
Actually, looks like a missing node dependency: I see this in the app's log
[code]

[2015-08-07 12:28] ZeHiro commented on #122
Hello, you should update the app (even if you were not notified to), or reinstall it. This topic was closed without a raise in the version number. Should be fixed here:

https://github.com/cozy-labs/konnectors/issues/99

[2015-08-07 12:30] ZeHiro commented on #121
Hey, you can try to do type these commands as root:

npm install && cd client & npm install && cd .. & cake build

[2015-08-07 12:36] ZeHiro opened #123 "Missing french local for Nest konnector"
"Get Nest temperature history"

[2015-08-07 12:38] ZeHiro opened #124 "Root folder is not available for selection to import files/bills"
The first listed is the most prior in alphabetical order

[2015-08-07 12:48] nono commented on #122
I confirm, it's fixed.

[2015-08-07 12:48] #122 closed

[2015-08-07 15:49] frankrousseau commented on #121
Are you sure you have enough disk space and ram available?

[2015-08-07 20:53] nledez opened #125 "Can't change folder in Sosh konnector"
I create a new folder for my Sosh bills.

But when I change the drop down list and click on "Save and import " the choice is lost.

[2015-08-08 19:07] frankrousseau commented on #117
Thank you @Mistress-Anna for your feedback about the licens. The license file will be added in the next release (0.3.4).

[2015-08-08 19:08] #99 closed

[2015-08-08 19:13] frankrousseau opened #126 "Jawbone konnector is broken"
Jawbone changed the structure of their CSV file, so the Jawbone konnector is broken.

[2015-08-09 20:43] frankrousseau commented on #101
Orange konnector was added. Could you tell me if it works for you?

[2015-08-10 08:08] ZeHiro commented on #125
There seem to be exaclyt the same problems with other konnectors (free and free mobile). But it seems to be just "visual" (ie the change is saved in the DB)

[2015-08-10 11:33] nicofrand opened #127 "Weird message during import"
The following message should be properly localized/processed:

`Une erreur est survenue lors de la dernière importation : {"message":"konnector is importing"}`

[2015-08-10 12:09] nicofrand commented on #56
I am currently working on it.

[2015-08-10 12:10] nicofrand opened #128 "Konnector for impots.gouv.fr"
It would be nice to be able to fetch our tax returns.

[2015-08-10 12:11] nicofrand opened #129 "Konnector for VirginMobile bills"
It would be nice to be able to fetch VirginMobile bills.

[2015-08-10 19:00] eravion commented on #101
Hello,

Yes, the download of invoice is ok, thanks, good job :)
The match with Kresus is not working, I don't know if it is normal ?

[2015-08-10 19:26] frankrousseau commented on #101
No it isn't :). Could you give me the label of the bank operation and the number of day between the invoice date and the bank operation date?

[2015-08-11 07:45] nicofrand opened #131 "Wrong link for "open selected folder" by default for unconfigured konnectors"
When using a konnector which allows to select a folder, the default selected folder is the first in the lexical order. However, unless I manually select a folder in the dropdown, the link of "open selected folder" is wrong (redirects to "https://demo.cozycloud.cc/#apps/files/folders/") since it does not include the folder id.

This only happens with konnectors which are not yet configured !

[2015-08-11 13:00] nicofrand commented on #129
I am working on it.

[2015-08-13 08:35] nical commented on #121
(late answer, sorry) looks like RAM was the issue. I stopped all my cozy apps and konnector installed successfully.

[2015-08-13 19:51] #56 closed

[2015-08-14 07:46] nicofrand opened #133 "Update request-json dependency"
Konnectors should upgrade its request-json dependency to the latest version ([or at least 0.5.1](https://github.com/cozy/request-json/commit/5583cc206e5ec45303e9eba131d3c14e493ef2dd)) to be able to use the `createClient` instead of the `newClient` method as stated in the [documentation](https://github.com/cozy/request-json/blob/master/README.md).

[2015-08-15 13:26] nicofrand commented on #54
It looks like there is an API for that: https://api.ovh.com/console/#/me/bill#GET

[2015-08-15 18:11] frankrousseau commented on #54
I didn't see that! Thank you.

[2015-08-16 19:58] #129 closed

[2015-08-17 08:48] eravion commented on #101
Hi,
Kresus Informations
Label: PRLV SEPA ORANGE ECH/070715 ID EMETTEUR/FRXXYYYZZZ
Amount: -30.03

Pdf Informations
Date of Invoice : votre facture du 26 juin 2015
Text inside the PDF : montant prélevé automatiquement le 06/07/2015
Amount : 30,03

[2015-08-17 11:44] frankrousseau commented on #110
I think the konnector was broken. You probably have many duplicates of commits :/. I will work on a fixing patch soon.
Can you try again and tells me if the number is still wrong?

[2015-08-17 11:44] frankrousseau commented on #111
Can you update the application and try again before we release it?

[2015-08-17 11:45] frankrousseau commented on #121
Ok great. Thank you for the report!

[2015-08-17 11:45] #121 closed

[2015-08-17 11:46] frankrousseau commented on #123
It is fixed here: https://github.com/cozy-labs/konnectors/commit/25cca1c1cd361a64617136eed9d737d32b4acdcf

Can you update Konnectors and tell me if it's ok?

[2015-08-17 11:48] frankrousseau commented on #125
It will be fixed in the upcoming 0.4.0 version.

[2015-08-17 11:48] frankrousseau commented on #126
Fixed

[2015-08-17 11:48] #126 closed

[2015-08-17 11:49] frankrousseau commented on #131
It should be fixed. Can you update the application and try again?

[2015-08-17 11:49] frankrousseau commented on #133
Done here: https://github.com/cozy-labs/konnectors/commit/257b6c0f6e6d76adb0784b624babb8cc4e317f78 !

Thank you for reporting!

[2015-08-17 11:49] #133 closed

[2015-08-17 11:52] frankrousseau commented on #113
It should be fixed. Can you update Konnectors and try again?

[2015-08-17 12:08] nicofrand commented on #131
I tried on the demo and everything seems Ok now !

[2015-08-17 14:20] ZeHiro commented on #123
Good

[2015-08-17 14:20] #123 closed

[2015-08-17 14:29] ZeHiro commented on #113
It works. Thanks

[2015-08-17 14:29] #113 closed

[2015-08-17 14:45] frankrousseau commented on #131
Great, thank you!

[2015-08-17 14:45] #131 closed

[2015-08-20 08:10] nicofrand commented on #131
It looks like it does not work anymore on the demo since the last version (0.4.1) ?

[2015-08-20 13:32] nono commented on #117
The license is now here: https://github.com/cozy-labs/konnectors/blob/master/LICENSE.

@frankrousseau I think you can close this issue.

[2015-08-20 14:01] #117 closed

[2015-08-20 14:01] frankrousseau commented on #117
Yep thank you @nono and @Mistress-Anna

[2015-08-21 10:12] nono opened #141 "Duplicate files for Free & Free Mobile bills"
Hello,

I have updated konnectors to the 0.4.1 version and bills from Free an Free Mobile are duplicated:

![screen shot 2015-08-21 at 12 10 47](https://cloud.githubusercontent.com/assets/2767/9406124/c9bbb0f2-47fd-11e5-9f88-72d9bb0467de.png)

Is it expected?

[2015-08-21 10:15] frankrousseau commented on #141
Not at all. It's probably a bug with my recent changes. It checks if the file exists and if not it creates it.

[2015-08-21 10:54] frankrousseau commented on #125
It's fixed @nledez, can you confirm

[2015-08-21 11:31] ZeHiro commented on #141
For freemobile, if you have multiple lines, it is normal, it does not make the différence bewee' all lines. I have an update of the konnector. I'll push it after my holidays

[2015-08-21 12:05] frankrousseau commented on #141
I can't reproduce for the the free bills. I don't know where to start. Can you remove all your bill files and bill data about free. Then can you fetch them again several times?

[2015-08-21 13:06] nono commented on #141
I've removed the bills, and launched several imports. There are no duplicates.

Maybe, for a given file, one duplicate was with an old version of konnector and the other with a recent version of konnector.

[2015-08-21 13:17] nono commented on #141
@frankrousseau same for Free Mobile. Starting from an empty directory, it works fine.

@ZeHiro I have 2 lines. After deleting the files and launched several imports, I have now 2 files for each month:

- `<year><month>_freemobile.pdf` (the bill of one line)
- `<year><month>_freemobile_.pdf` (the sumarry)

But, in the screenshot, you can see that the exact same file was duplicated.

[2015-08-21 14:18] frankrousseau commented on #141
Ok it doesn't sound good but if it now works let it that way. I let the @ZeHiro answer for the freemobile issues.

Thank you again for reporting.

[2015-08-21 18:14] ZeHiro commented on #141
For the wired names, it is a bug, which will be fixed in the net update of the konnector. The number of the line will be included for the line bills. No number for the overall bill. PR for september.

[2015-08-23 18:44] eravion commented on #101
Hi

It works now.
Thanks :)

[2015-08-23 18:48] frankrousseau commented on #101
Great!

[2015-08-23 18:48] #101 closed

[2015-08-26 17:37] #92 closed

[2015-08-28 10:20] bnjbvr opened #144 "Konnector for Direct Energie"

[2015-08-28 14:09] ZeHiro commented on #141
The bug is fixed normally. And I confirm the bug for free mobile and free konnectors, but it is reimported once.

[2015-08-31 10:11] ZeHiro opened #146 "Disable buttons for which answer from the server is required. Mostly "save and import button""
From forum user :

https://forum.cozy.io/t/konnectors-probleme-dimportation-des-pdf-free-mobile/1074/27

It is possible to send twice the import request if a second import is launched between the first request, and the answer of the server "isImporting = true".
This leads to 2 concurring imports
This problem can be abserved mainly on the freemobile konnector, as it detects the presence of the form

[2015-09-22 08:01] ZeHiro opened #148 "Missing french translations"
Hi,

here are some missiing french translations:

- "open selected folder" (konnector view)
- "Select a starting date" (konnector view when automatic import is set to "every week/month")
- "From" (konnector view when automatic import is set to "every week/month")

[2015-09-22 19:24] frankrousseau commented on #148
Thank @ZeHiro for reporting.

[2015-10-14 22:49] ZeHiro opened #156 "Password lost with version 0.4.3"
All the passwords were lost when upgrading to 0.4.3
Maybe it is due to upgrade of cozy-db

[2015-10-15 14:12] frankrousseau commented on #156
Thank you for reporting. It's probably related yes. Sorry for the inconvenience.

[2015-10-15 14:12] #156 closed

[2015-10-16 11:42] ZeHiro opened #160 "Several server errors"
Hi,

Here are the errors I get in my logs (v 0.4.5):
At import of free or free mobile bills:
[code]

[2015-10-16 16:38] frankrousseau commented on #160
Hi @ZeHiro,

Thank you for the report. When have you started noticing that messages?

[2015-10-17 10:21] ZeHiro commented on #160
Minimum after 9/10 (date of log-backup) More surely after 14/10

[2015-10-22 18:26] frankrousseau commented on #160
Sorry I can't reproduce. Can you provide more details?

[2015-10-23 07:52] ZeHiro commented on #156
Still here after restart of konnectors

[2015-10-23 07:59] ZeHiro commented on #160
Could this be related to the fact that the password are lost?

[2015-10-23 11:05] frankrousseau commented on #160
Yes probably. Can you disconnect from Cozy. Log in again then restart (stop and start) the konnector application. Then try again?

[2015-10-23 12:56] ZeHiro commented on #160
I did what you say, and i cannot observe the error anymore.

[2015-10-26 15:09] babolivier commented on #148
Fixed in PR #155, maybe this issue can be closed now?

[2015-10-29 09:57] ZeHiro opened #161 "On start up,daily imports seem to be done twice"
See https://forum.cozy.io/t/konnectors-probleme-dimportation-des-pdf-free-mobile/1074/38?u=zehiro

[2015-10-29 21:29] frankrousseau commented on #161
Ok @ZeHiro. Thank you for reporting.

[2015-11-06 13:25] nicofrand opened #163 "Some konnectors do not say they fail"
Several konnectors, when provided with wrong id/passwords do not say they failed or even that no importation was done, but just say "Last import: date" (whereas they did not import anything).

It is the case for:

- [ ] Numéricable
- [ ] Bouygues Box
- [ ] Bouygues Télécom
- [ ] Github
- [ ] Jawbone
- [ ] Orange
- [ ] Sosh

[2015-11-06 13:27] nicofrand commented on #163
I do not know for *Nest* but the konnector appears as it is still loading whereas there is an error in the logs.

[2015-11-06 13:42] frankrousseau commented on #163
Errors are not properly managed with Konnectors. We must fix it. Thank you for reporting @nicofrand.

[2015-11-06 13:45] nicofrand commented on #163
Warning: some of the konnectors do say they failed, or at least they say "Pas d'importation effectuée" like *Free* and *Free mobile* for example.

[2015-11-08 21:53] #110 closed

[2015-11-08 21:54] #111 closed

[2015-11-08 21:54] frankrousseau commented on #111
I close that one because I don't have any news from the bug reporter. @jsilvestre feel free to open it again if needed.

[2015-11-08 21:54] frankrousseau commented on #110
I close that one because I don't have any news from the bug reporter. @jsilvestre feel free to open it again if needed.

[2015-11-08 21:59] #125 closed

[2015-11-08 21:59] frankrousseau commented on #125
I close that one because I don't have any news from the bug reporter. @nledez  feel free to open it again if needed.

[2015-11-08 22:00] frankrousseau commented on #141
@nono what is the state of this issue?

[2015-11-08 22:01] #148 closed

[2015-11-08 22:01] frankrousseau commented on #148
Thank you @babolivier

[2015-11-08 22:01] frankrousseau commented on #160
Great, thank you. The problem is related to the Data System. Let close this issue.

[2015-11-08 22:01] #160 closed

[2015-11-09 07:18] nono commented on #141
It's okay for me now. It was just one version of konnectors which created duplicate files.

[2015-11-09 07:18] #141 closed

[2015-11-09 08:02] nledez commented on #125
It's look like good. Thanks.

[2015-12-05 06:26] clochix opened #165 "Orange konnector fails silently if password was updated"
As [reported](https://forum.cozy.io/t/konnector-pb-avec-changement-pwd/1691) by @eravion: he changed it's password, so the connector was unable to connect, but didn't throw any error.

[2015-12-11 10:54] clochix commented on #165
@Peltoche any news on this?

[2015-12-11 11:01] Peltoche commented on #165
I juste received the identifier/password so now I will be able to work on it.

[2015-12-14 17:59] frankrousseau opened #167 "Add notification when the Linkedin connector is finished"
The new Linkedin konnector doesn't show any notification when the contact import succeeded. It should tell how many contacts were created and how many were updated.

[2015-12-15 14:34] Peltoche commented on #165
This PR should solve this issue:  https://github.com/cozy-labs/konnectors/pull/168

[2015-12-16 12:36] Peltoche opened #169 "Correct comparison system betwen contact"
Currently to check if an imported contact is up to date with a save one we take all the fields, concat them and compare is they are similare (intrasicRev function in contact_helper.coffee).

If the user add a field in the saved contact, the comparaison will not match and we will lauch the update for nothing. This function is used in several Konnectors.

[2015-12-18 12:06] Peltoche commented on #167
This PR should resolve this issue: https://github.com/cozy-labs/konnectors/pull/168

[2015-12-24 15:06] clochix opened #172 "[Twitter] Open Twitter application manager in a new tab"
To get Twitter credentials, we open https://apps.twitter.com/ This page send an `X-Frame-Option` header that prevent opening it inside an iframe. So when we click on the link, we just get a blank page. We should add a `target="_blank"` to open the page in a new tab.

I opened this issue instead of fixing it myself because I think we should also explain what to do on the Twitter application list: c

[2016-01-22 20:40] kosssi opened #178 "Konnector for Captain Train"

[2016-01-26 11:12] NTag commented on #81
I have no idea where you are in this issue, but you can use the "JSON API", and give the password in plain-text to log in (with this URL: http://mshop.carrefour.com/convertigo/projects/ooshop/.json?__sequence=CheckLogin&login=${LOGIN}&password={PASSWORD} )

No need to find the hash method they are using.

[2016-01-26 18:46] frankrousseau commented on #81
By the way you will soon be able to write your konnectors with Javascript. Coffeescript won't be mandatory anymore to write connectors.

[2016-02-03 10:43] Chocobozzz opened #182 "Konnector for Digiposte"
Digiposte is a service proposed by "La Poste" (french post office) which is a "Digital Safe" where your employer could drop your payroll there. You can drop your files (photos etc) too.

Moreover, they partnered with many companies that can send documents (like bills, administrative things etc) inside DigiPoste. For example there are Amazon, Ebay, EDF, impots.gouv.fr, CAF, Paypal, OVH...

It seems

[2016-02-03 16:43] clochix commented on #182
Thanks @Chocobozzz,
If you develop in Node.js (or would like to learn), we would be glad to help you create this Konnector. Don't hesitate to ask!

[2016-02-03 16:55] Chocobozzz commented on #182
Hi @clochix :)

No problem, when I'll have time I'll try to make it. But it can be long, my hollidays will be in a long time. I'll notify it if I begin the work ;)

[2016-02-03 16:57] clochix commented on #182
Awesome!

[2016-02-07 20:41] clochix opened #184 "Migrate locales to Transifex"
Seems like we forgot this project

[2016-02-09 08:27] nicofrand opened #186 "Virgin mobile: redirection if wrong password"
If the connection to virgin mobile's website fails, a redirection is done and the website is displayed in place of the konnectors application.

This is caused by returning the following error:

[code]

Lines :

* https://github.com/cozy-labs/konnectors/blob/da9cc8efc4213a6a8c292c7cbb1c5cd979105fd6/server/konnectors/virginmobile.coffee#L86
* https://github.com/cozy-labs/konnectors/blob/da9cc8efc421

[2016-02-09 10:26] nicofrand opened #188 "Disallow HTML messages from konnectors"
When a konnector returns an error message (or any other message) containing HTML, [this HTML is displayed as it is in the user interface](https://github.com/cozy-labs/konnectors/blob/da9cc8efc4213a6a8c292c7cbb1c5cd979105fd6/client/app/views/konnector.coffee#L90).

A konnector is then able to do anything (like a [meta redirection](https://github.com/cozy-labs/konnectors/issues/186)) and break the a

[2016-02-09 11:08] clochix commented on #188
Thanks for reporting @nicofrand, we'll try to fix this quickly !

[2016-02-09 13:18] ZeHiro opened #189 "Missing dependancies in package.json"
At least :
brunch
babel

are missing in the dev dependancies.

[2016-02-09 13:36] nicofrand commented on #189
For the development branch at least.

[2016-02-09 16:42] clochix commented on #189
Thanks for reporting!
@Peltoche, are you still around there?

[2016-02-09 16:52] Peltoche commented on #189
Hi! This modules need to be installed globally, they are the main tools used in almost all nodejs projects so it seem a bad practice to install them locally in all projects.

you can make:
[code]

[2016-02-09 16:59] nicofrand commented on #189
Yeah, I can install it globally, but the package.json should declare them too, right ? They won't be installed locally if they already are installed globally, but at least they'll be installed if needed.

[2016-02-09 17:19] ZeHiro commented on #189
looking at the build script, they need to be installed locally:
https://github.com/cozy-labs/konnectors/blob/development/scripts/build.sh#L5
https://github.com/cozy-labs/konnectors/blob/development/scripts/build.sh#L25

[2016-02-09 17:19] nono commented on #189
The [build script](https://github.com/cozy-labs/konnectors/blob/development/scripts/build.sh) clearly expects that brunch and babel are installed locally and globally (`node_modules/.bin` is only for local npm packages).

For brunch, it's already in the [package.json](https://github.com/cozy-labs/konnectors/blob/development/client/package.json) for the client. It is installed on step 2 of 3 in [bu

[2016-02-09 17:24] nono commented on #189
Oh, the step 2 has been removed in the development branch.

[2016-02-09 18:36] #186 closed

[2016-02-09 18:37] frankrousseau commented on #189
Thank you @nono it's now fixed.

[2016-02-09 18:37] #189 closed

[2016-02-10 13:23] genma opened #192 "Date switch to american format"
In Konnectors, I try to import my Github commits or Linkedin contacts. In the date selector, I can select the current date "11-02-2016 (11 february 2016, in French). When I click on "Save & import button", import doesn't work. And the date automatically switch to an american format. So the selected date become 02 november 2016 (in calendar) and appears as "02-11-2016" in field.

[2016-02-10 13:25] nicofrand opened #193 "Numéricable's konnector not working anymore"
The last commits broke the konnector.

0. The [lint commit](https://github.com/cozy-labs/konnectors/commit/61bf673c7916393a67d6dbe687cf4bfef84488d9) introduced french variables, I am not a big fan, I'd prefer english words.
0. A [merge commit](https://github.com/cozy-labs/konnectors/commit/723cd1b91c1ec5e0baff0c64411fa007c5de8a26#diff-ebf3d2e13976d197b3c88bcbfd7397ccL69) introducing conflicts was

[2016-02-10 13:29] clochix commented on #192
Thanks for reporting @genma !

[2016-02-10 14:51] clochix commented on #193
Thanks for reporting @nicofrand,
Seems like the [lint commit](https://github.com/cozy-labs/konnectors/commit/61bf673c7916393a67d6dbe687cf4bfef84488d9#diff-ebf3d2e13976d197b3c88bcbfd7397cc) from @Peltoche was right, but we failed properly resolve conflicts when merging.
@frankrousseau could you have a look at this, please ?

@nicofrand waiting for the fix, maybe you can locally check out the last w

[2016-02-10 17:53] frankrousseau commented on #193
@nicofrand I think it's better if you handle the renaming yourself. We'll be sure that it's ok with your code styling.

Sorry for this ugly merge.

[2016-02-11 13:36] #193 closed

[2016-02-12 15:15] nicofrand commented on #188
I think this was solved by commit [a88f8d8afae1f383b6af3dd54933b86059f4c7ab](https://github.com/cozy-labs/konnectors/commit/a88f8d8afae1f383b6af3dd54933b86059f4c7ab) and then with the next [build](https://github.com/cozy-labs/konnectors/commit/0df8bcf9d2232a20d33da3b5752a9ed93b1970fb), I close the issue.

[2016-02-12 15:15] #188 closed

[2016-02-15 22:45] Gara64 opened #197 "Konnector for Ameli"

[2016-02-24 21:32] Chocobozzz commented on #54
WIP

[2016-02-24 22:36] frankrousseau commented on #54
Wow

[2016-03-02 10:54] clochix opened #201 "Create a konnector to import data from Babelio"
See this [thread](https://forum.cozy.io/t/app-bibliotheque-personnelle/2066/17).

Looks like Babelio is able to export a CVS file, so we could probably request and parse this file to import the data.

[2016-03-07 15:31] clochix opened #203 "Exception in ISEN Konnector"
Konnectors refuse to start because the parameters of the ISEN konnector are wrong:
[code]

[2016-03-08 11:36] Chocobozzz opened #205 "Konnector for voyages-sncf.com"
To add bills, tickets and calendar events in Cozy.

[2016-03-08 13:31] ZeHiro opened #206 "Bill/operation match not done"
From last update (or previous one) : 0.4.10/11, the match between operations and bills it not done anymore.
Here is my date setting on my configuration, because from previous analysis, it is due to problems in managing the UTC/GMT differences:
``
cozy-term@cozy:~$ date

Tue Mar  8 14:09:01 CET 2016
``
From previous analysis, the involved pieces of code where these one:
- https://github.com/cozy-la

[2016-03-13 02:24] SeafireGit opened #210 "User's TAGs for connectors"
Hello,
It would be great if user could define his own tag for each connector, added to the default "bill" one.
For instance to add tag "Phone" with sosh konnector, "Internet" with numericable and so on.

[2016-03-14 10:42] clochix commented on #210
Hi @SeafireGit,

Thanks for the suggestion, I don't know if it is easy to do, but it would be nice ☺

[2016-03-14 19:59] ZeHiro opened #211 "Konnector Ameli does not match correctly operations"
Hi,
thanks for this new konnector.
I have imported my Ameli files, but the match between operations and the file could not be done, as the the search parttern for the label is incorrect for my bank (lcl). Here is what I have:
VIREMENT CAISSE PRIMAIRE ASSURA

Thanks

[2016-03-15 08:31] clochix commented on #211
Thanks for reporting @ZeHiro ☺
@Gara64 any thought?

[2016-03-15 08:43] ZeHiro commented on #211
I think it is a bank 'bug'. That's to say, the label of the operation can change from bank to bank. It could be useful that there is a default value for the operation label, and a custom one.

[2016-03-15 13:39] babolivier opened #212 "Konnector view not rerendered on fields update serverside"
I'm trying to use the "OVH EU" konnector. I select the folder to import into, and click "Save and Import" and get an error: "You need to login to your OVH account first."
No login link, nowhere to enter my credentials.

[2016-03-15 14:18] frankrousseau commented on #212
Yep, it fails for me too. Normally a special link should be displayed. I don't understand why it doesn't appear in prod mode.

[2016-03-15 14:24] Chocobozzz commented on #212
Same here. Don't understand too. I investigate.

[2016-03-15 14:50] Chocobozzz commented on #212
@frankrousseau These lines seem to be responsible for this issue: https://github.com/cozy-labs/konnectors/blob/master/client/app/models/konnector.coffee#L13

[2016-03-15 15:02] Gara64 commented on #211
@ZeHiro For now, all the bank operations I saw had the label 'C.P.A.M.', so I assumed it was the same for everyone :)
About 'Assura', is it your primary health insurance, or some kind of health mutual? In the last case, I guess you would have one bank operation from CPAM, and another one from Assura.
Otherwise it could be useful to have the custom field you suggested.

[2016-03-15 15:38] clochix commented on #211
@Gara64 maybe “CAISSE PRIMAIRE ASSURA” is just “Caisse Primaire Assurance Maladie” (the full name of CPAM) truncated ;-)

[2016-03-15 15:56] Gara64 commented on #211
@clochix Haha my bad, you're probably right :)

[2016-03-15 16:02] ZeHiro commented on #211
Yes, weboob or lcl truncated the label of the operation.

[2016-03-15 19:11] frankrousseau commented on #212
Arg yes my bad. It shouldn't delete it. They just need to be ignored by the comparison.

[2016-03-15 19:28] eravion opened #213 "Orange pdf match problem with Kresus"
Hello
2 bugs.

1/ Match with bad line
Info pdf : total : 66.69 / date :  11.12.2015
this line in Kresus match
montant :  69 / Date : 21.11.2015

This line have to match but is not
montant :  66.69 / Date : 14.12.2015

2/ Does not match
Info pdf : total : 32.59 / Date : 12.03.2016
line in Kresus have to match
montant : 32.59 / Date : 14.03.2016

[2016-03-16 08:11] kosssi opened #214 "Export and Import all configuration"
It's really awesome if I can export and import all configuration of my cozy konnectors.

[2016-03-16 21:10] #203 closed

[2016-03-16 21:10] frankrousseau commented on #203
Thx @clochix

[2016-03-17 08:02] EtienneM opened #215 "ICal feed konnector"
I just saw that you added an ICal feed konnector. Briliant idea! I'm loving it! I just have a few questions about it:

* Will it be possible to konnect multiple ical feed? I would love to be able to konnect to the different ICS I have for work, sport, etc.
* After two imports, I have two times the same event. Do you handle such a case? Is it my ICS feed that is badly formatted?

[2016-03-17 08:46] frankrousseau commented on #215
Hello @EtienneM,

* It's something we think about since a long time. Many people want several accounts in Konnectors. Since Konnector is not official, I work on it on my free time. This week-end I won't be at home, so I don't know when I will be able to start working on it.
* Normally each event should have a uuid field. It's an identifier that allows konnectors to see if the event already exists.

[2016-03-19 00:08] encolpe opened #216 "Connection to ameli fail"
From the log:

[code]

[2016-03-19 15:30] #197 closed

[2016-03-21 16:42] jeekajoo commented on #216
Same here. Let me know if you need more info.

[2016-03-21 16:43] frankrousseau commented on #216
ping @Gara64

[2016-03-21 16:43] frankrousseau commented on #216
Thank you @encolpe  and @jeekajoo for reporting.

[2016-03-21 17:26] Gara64 commented on #216
It looks like the first GET request to ameli fails, but I cannot figure out why, and I can't reproduce.
@encolpe and @jeekajoo , do you have others konnectors working?
And to be sure everything is correctly set up, could you uninstall the app then reinstall and retry?
By this time I'll handle this error to have more logs.
Thanks!

[2016-03-21 18:44] encolpe commented on #216
I have the same problem with LinkedIn, but Free, Online and Orange connectors are working.

[2016-03-21 19:29] jeekajoo commented on #216
all other konnectors I have work, uninstalling / reinstalling did not help.

[2016-03-24 10:52] EtienneM commented on #215
There is a UID field that is different every time I generate the ICS. This is probably the problem... Thanks!

[2016-03-24 12:39] jeekajoo commented on #216
with version 0.5.3: `An error occurred during the last import: CERT_UNTRUSTED`

[2016-03-24 13:07] EtienneM commented on #215
I am also in charge of this ICS file and I modified it to have a fixed UID for each event and it is now working fine!

[2016-03-24 13:07] #215 closed

[2016-03-24 14:30] clochix opened #219 "Allow to subscribe to multiple ICAL feeds"
Feature requested by @etienneM
This is a followup of #215

[2016-03-24 14:31] clochix commented on #215
Thanks for your feedback @EtienneM.
I opened #219 to track your feature request of allowing to subscribe to multiple ICS feeds.

[2016-03-28 14:41] frankrousseau opened #220 "Add information to documentation"
- [ ] Explain how to analyze a webpage with Firefox inspector and network traffic analyzer.
- [ ] Explain what to look for in a target webpage.
- [ ] Give guidelines to promote the new konnector.
- [ ] Explain how to use dev tools.

[2016-03-31 08:49] brouberol commented on #54
Can this issue be closed?

[2016-03-31 08:53] brouberol opened #221 "Connection to Ameli fails when the SS# contains the control key"
When I first tried to configure the Ameli connector, I received some "bad credentials" message, even though I copy/pasted the username/password from the firefox password manager.

The connection then worked when I removed the last 2 digits of my social security number (the control key). Is that the expected behaviour? If that's the case, maybe the connector could strip the control key from the SS

[2016-03-31 08:53] #54 closed

[2016-03-31 08:54] frankrousseau commented on #221
Thank you @brouberol for reporting

@Gara64 Any thoughts?

[2016-03-31 09:01] Gara64 commented on #221
@brouberol, it is indeed the expected behaviour. The Ameli login is your social security number, without the last 2 digits.
I think you're right that it could be confusing (it was for me the first time I logged into Ameli!), so an additional check could be done, at least to inform about the expected digit's number.
I'll work on it when I have some time :)

[2016-03-31 09:23] Gara64 commented on #216
Thanks @encolpe and @jeekajoo, and sorry for the delay. So it's apparently a debian certificate error. Were you able to fix it? I tried with an up-to-date debian jessie, and it worked for me.
Otherwise, not sure it's related, but I made a patch as suggested [here](https://github.com/request/request/issues/811). You can try it by re-installing Konnector throught this [repo](https://github.com/Gara6

[2016-03-31 09:35] brouberol commented on #221
Ok, nice  to know :) I guess the Ameli website has some kind of
flexibility in the login then, because I can login with the SS# +
control key as my username.

--
B

On Thu, Mar 31, 2016, at 11:01 AM, Paul Tran-Van wrote:

Links:

  1. https://github.com/brouberol
  2. https://github.com/cozy-labs/konnectors/issues/221#issuecomment-203833783

[2016-03-31 09:52] frankrousseau commented on #216
I think there is an option in request to accept untrusted certificates.

[2016-03-31 09:56] Gara64 commented on #216
@frankrousseau yes, we can use `strictSSL: false`, but I prefer to avoid this if possible :)

[2016-03-31 12:44] jeekajoo commented on #216
Well, can you show me the result of `dpkg -l | grep ca-certificates` ?
I would be surprised you have version 20141019+deb8u1

One temp solution would be to use the older version of the Mozilla bundle that includes removed trust bits for RSA-1024 keys : https://raw.githubusercontent.com/bagder/ca-bundle/e9175fec5d0c4d42de24ed6d84a06d504d5e5a09/ca-bundle.crt

[code]
... or use `strictSSL: false`. Am

[2016-03-31 13:58] encolpe commented on #216
I tried to upgrade to stretch version and downgrade to wheezy version without success (http://ftp.debian.org/debian/pool/main/c/ca-certificates/).
As it is a Debian bug, we can close it here.

[2016-04-01 17:43] Chocobozzz commented on #205
WIP

[2016-04-05 09:21] clochix opened #224 "Improve discovery"
Requested [on the forum](https://forum.cozy.io/t/konnectors-ical-feed-un-seul-calendrier-possible/2268): as number of konnectors grows, it would be nice to have ways to filter and discover them: categories, tags, search…
“il serait intéressant de les trier par catégorie (abonnement téléphonie, abonnement services Web, réseaux sociaux, applis santé, ...) et pourquoi pas d'ajouter une zone de recher

[2016-04-05 15:52] clochix commented on #91
This is also requested for the ICAL connector, see #219

[2016-04-05 23:05] #205 closed

[2016-04-06 12:43] m4dz opened #225 "Add captaintrain konnector"
As the with [SNCF konnector](https://github.com/cozy-labs/konnectors/pull/222), we may provide a konnector to the CaptainTrain service to retrieve bills inside Cozy.

Maybe we can ask @captaintrain team if they provide an API or a simple way the get pdf bills URL from their service :smiley:?

[2016-04-06 12:52] ZeHiro commented on #225
The connection process i quite easy, there is a json API. To fetch the bills I remember it was a bit harder

[2016-04-06 13:09] kosssi commented on #225
like this https://github.com/cozy-labs/konnectors/issues/178

[2016-04-06 13:12] m4dz commented on #225
My bad, I searched for `CapitaineTrain` and `CaptainTrain`, not `Capitain Train`. Close this one as duplicate of #178.

[2016-04-06 13:12] #225 closed

[2016-04-11 13:53] ZeHiro opened #226 "Add Doctolib konnector"
To import doctor appointment.
There are direct ical exports.

[2016-04-13 14:36] clochix commented on #224
A lot of suggestions for improvements in [this other thread](https://forum.cozy.io/t/konnectors-propositions-petit-prob-dimport/2303)

[2016-04-13 14:42] clochix commented on #216
Another user [report this problem](https://forum.cozy.io/t/konnectors-propositions-petit-prob-dimport/2303) : « Une erreur est survenue lors de la dernière importation : CERT_UNTRUSTED »

[2016-04-19 17:00] Gara64 commented on #216
@jeekajoo @encolpe Sorry again for the delay, I've been busy with work and medical stuff :)
I do have the `20141019+deb8u1` version, and I have the same warning with `curl`, but not with `request`, oddly. Anyway, I made a [patch](https://github.com/cozy-labs/konnectors/pull/227) to add `strictSSL: false` by the meantime this is solved on Debian.
Please let me know if it works for you!

[2016-04-19 17:17] encolpe commented on #216
I prefer a **strictSSL: true** as services should have a valid SSL certificate. Again, it's a debian bug. Don't break the security for it.

[2016-04-26 07:30] EtienneM commented on #219
It is now working! Thanks ;)

[2016-04-26 07:35] EtienneM opened #231 "Malformed ical file: missing ':' (line 2)"
I have an error when trying to import [this](http://frisbee-strasbourg.net/calendrier/ical) ICAL feed. I get the following error:

However this file should be well formatted as I am currently succesfully importing it on my phone using [ICSdroid](https://icsdroid.bitfire.at/).

[2016-04-26 07:50] ZeHiro commented on #91
As of 0.6.2 this is done. Thanks

[2016-04-26 07:50] #91 closed

[2016-04-26 07:56] EtienneM opened #232 "Import ICS protected by a password"
I would like to import [this](https://agenda-cas.unistra.fr/SOGo/dav/iutrs-agenda/Calendar/3853-5343F400-209-47E48F80.ics) ICS file but it is protected by a password. Would it be possible to add the password field in the configuration of the ICS feed?

[2016-04-26 08:55] doubleface commented on #102
I think this one is done by 7900c04be743108a592444c906810e5c463372ae and then it can be closed.

[2016-04-26 12:08] jeekajoo opened #233 "0.6.3 broken - "It may be due to an error while unencrypting password field""
Hi,
Looks like it's konnectors (0.6.3) is broken on my side with
Data System: 2.5.5
Proxy: 2.5.6
Home: 2.5.9
Controller: 2.5.4

Logs
[code]
Let me know if you need more info.
Thanks

[2016-04-26 13:23] clochix opened #234 "ReferenceError: slug is not defined"
Seen in the logs of a user: application crash when starting:
[code]

[2016-04-26 13:26] clochix commented on #234
We should use konnector.slug in https://github.com/cozy-labs/konnectors/blob/master/server/init/konnectors.coffee#L72

[2016-04-26 14:12] frankrousseau commented on #233
We just published a new version. Can you try again?

[2016-04-26 14:13] frankrousseau commented on #102
@eravion can you confirm it works for you?

[2016-04-26 14:17] clochix commented on #234
Fixed in 7e64e38, thanjs @frankrousseau !

[2016-04-26 14:17] #234 closed

[2016-04-26 14:17] jeekajoo commented on #233
It is now fixed. Thanks

[2016-04-26 14:17] #233 closed

[2016-04-26 14:18] clochix commented on #233
Thanks for reporting @jeekajoo, it should have been fixed by 7e64e38 in version 0.6.4, could you give it a try?

[2016-04-26 17:33] ZeHiro opened #235 "Duplicate ICAL events"
Hello,
I used the ICAL feed konncetor, to parse events from capitain train ics file. It appears that some events are duplicated, instead of updated.
I can provide more details on the events

[2016-04-26 19:17] eravion commented on #102
Hello,
I don't have credential to test, I provided one for the development, but I can't use it today.
Sorry, I cannot confirm.

[2016-04-27 08:44] jeekajoo opened #236 "Ameli - "Cannot download file, wrong url""
Hi,

Ameli Konnector doesn't seem to work.

[code]
Konnectors: 0.6.4
Data System: 2.5.5
Proxy: 2.5.6
Home: 2.5.9
Controller: 2.5.4

Thanks
J.

[2016-04-27 08:46] jeekajoo commented on #216
Looks like it is now able to connect. (but I'm now stuck here: #236 )

[2016-04-27 09:56] clochix commented on #232
Thanks for suggesting @EtienneM ☺

As a workaround, did you try to add the credentials in the url: https://user:password@agenda-cas.unistra.fr/…

[2016-04-27 09:58] clochix commented on #235
Thanks for reporting @ZeHiro
Could you check that the events have an unique identifier in the feed you're importing?

[2016-04-27 10:18] ZeHiro commented on #235
The event is not duplicate in the feed, and the have exact same info in the cozydb

[2016-04-27 14:16] EtienneM commented on #232
I did not know the possibility. I tried and I am now having the same problem reported in #231

[2016-04-27 15:22] EtienneM commented on #232
Eventually it just worked!

[2016-04-27 15:22] #232 closed

[2016-04-28 06:46] Chocobozzz opened #237 "Ameli link bank operation"
The link with the bank operation doesn't work with Ameli.

The [identifier](https://github.com/cozy-labs/konnectors/blob/master/server/konnectors/ameli.coffee#L184) is "A.M.E.L.I" but in my department the label of the payement in my bank is "SEPA AMELI DEPARTMENT".

The label structure is the same for all departments? Can someone else tell me what did he receive as label?

[2016-04-28 13:49] clochix commented on #235
Maybe the event UUID changed in the feed. This is the only information we use to identify an event, so if it changes, it is a new event from our point of view.

[2016-04-28 14:21] clochix opened #238 "Allow to download ICAL files sent as attachment files"
Sometime, the URL of the remote ICS feed send an attached file. See #231

[2016-04-28 14:22] clochix commented on #231
I think I get it… this URL returns the feed as an attached file, instead of an inline ics file. I opened another issue to handle this case: #238

[2016-04-28 15:59] ZeHiro commented on #235
In the db they have the same uuid.

[2016-04-29 06:32] doubleface commented on #237
And in my department it is "CPAM des Yvelines". WE have to add some kind of configuration for it.

[2016-04-29 12:58] pierrevdk opened #239 "No error message when ID or Password is wrong"
When adding a new service, if the ID or the password is wrong nothing happens. Their should be a message warning the user that the connexion can't be made because of a wrong id/password.

[2016-04-29 13:01] pierrevdk commented on #225
+1000 on this one!

[2016-04-29 13:11] pierrevdk opened #240 "Create a folder in Files directly from Konnector"
It would be awesome to be able to create a folder directly from Konnector when adding a new service.

[2016-04-29 13:15] pierrevdk opened #241 "Files is empty when opening it form Konnector"
When you click on "Ouvrir le dossier sélectionné" on Konnector, a new tab opens, but Files is blank.
I believe it's because the url is https://cozy-name/#apps/files/folders/ instead of https://cozy-name/#apps/files/

![capture d ecran 2016-04-29 a 15 13 47](https://cloud.githubusercontent.com/assets/3509517/14917002/2a21dcc4-0e1d-11e6-8a86-fecd200f507b.png)
![capture d ecran 2016-04-29 a 15 14 51]

[2016-04-29 13:41] jeekajoo commented on #236
Works after migrating to node4.

[2016-04-29 13:41] #236 closed

[2016-04-29 19:27] doubleface commented on #241
In my case, it works well and the url is withe files/folders/. Does the "/Factures" directory exist?

[2016-04-29 20:23] pierrevdk commented on #241
Yes it does, it contains sub-folders.

[2016-04-30 09:49] doubleface commented on #237
I made a fix on my github repo. It works in my case Can you try it ?

https://github.com/doubleface/konnectors.git@ameli_bank

I added a new field for the ameli connector : "Identifiant bancaire" where you can give the string used to identify ameli operations. If the field is empty, a default one is used.

If it works for you, I will do a pullrequest on the main repo

[2016-04-30 10:04] Chocobozzz commented on #237
Yup, it works like a charm. Thanks @doubleface

[2016-05-02 06:19] ZeHiro commented on #211
Duplicate of #237. #242 fixes this.

[2016-05-02 06:19] #211 closed

[2016-05-02 14:34] ZeHiro opened #244 "Notifications not thrown anymore"
on konnector 0.6.4, the notifications are not thrown anymore.

[2016-05-02 14:53] doubleface commented on #244
Yes, I am looking at it but did not think to create the issue

[2016-05-04 14:04] rgarrigue opened #246 "Ameli wrong url"
Hi

I'm running cozy under Raspbian Jessie. My ameli konnector didn't worked, with the following error in konnector.log (and less in konnector.err)

    [2016-05-04 12:04:30:548] info - Ameli | import for entry 042016 started.
    [Error: Cannot download file, wrong url]
    [2016-05-04 12:04:30:964] info - Ameli | File for 042016 not created.
    [2016-05-04 12:04:31:610] error - Ameli | An error

[2016-05-04 14:10] nono commented on #246
Looks like a duplicate of #216

[2016-05-06 07:41] doubleface commented on #244
If someone can try my pullrequest, it works for me but I am not sure it fixes all cases.

[2016-05-10 11:54] #226 closed

[2016-05-12 17:53] frankrousseau commented on #22
This issue is too old, let's see if someone complains again.

[2016-05-12 17:53] #22 closed

[2016-05-12 17:54] frankrousseau commented on #38
It looks to be solved, I close the issue.

[2016-05-12 17:54] #38 closed

[2016-05-12 17:54] frankrousseau commented on #71
Do you still face that issue @ZeHiro?

[2016-05-12 17:56] frankrousseau commented on #163
@nicofrand Do you still face that issue?

[2016-05-12 17:56] #165 closed

[2016-05-12 18:00] frankrousseau commented on #172
I fixed the link. About the explanation, let's see if someone mentions the problem.

[2016-05-12 18:00] #172 closed

[2016-05-12 18:00] frankrousseau commented on #172
Thank you for reporting.

[2016-05-12 18:01] frankrousseau commented on #206
It looks fixed by @ZeHiro.

[2016-05-12 18:01] #206 closed

[2016-05-12 18:01] frankrousseau commented on #237
It looks fixed by last PR. Thank you for reporting.

[2016-05-12 18:01] #237 closed

[2016-05-12 18:01] frankrousseau commented on #244
It looks fixed. @ZeHiro can you confirm?

[2016-05-12 18:02] frankrousseau commented on #102
Let's close this one. Thank you again @doubleface for the connector.

[2016-05-12 18:02] #102 closed

[2016-05-12 18:04] ZeHiro commented on #244
Yes. Experiencing other notification problem though (i'll open another ticker)

[2016-05-12 18:04] #244 closed

[2016-05-12 18:05] ZeHiro commented on #71
I am not sure, I have good credentials now :p. But it wa fixed long time ago.

[2016-05-12 18:05] #71 closed

[2016-05-12 18:08] ZeHiro opened #250 "When an import does not provide new data at notification is still raised"
It happends for ical connector and doctolib connector. Same with free.

[2016-05-12 18:09] frankrousseau opened #251 "Improving the packaging of Konnectors"
Currently, at Cozy, we are working on making our development workflow on core apps and components cleaner (automatic package build and publication and proper development workflow). I decided to apply the same principle to Konnectors.

I will perform the following tasks:

[*] Make the konnectors app publication through NPM.
[] Add Greenkeeper to keep dependencies up to date.
[] Move from Brunch bui

[2016-05-13 10:01] nicofrand commented on #163
Yep. I checked again with Orange for example by providing wrong id and passwords. I expect it to say "Wrong id/password" but instead it just shows the last import date, as if everything went well.

[2016-05-13 14:52] frankrousseau commented on #163
OK thank you!

[2016-05-14 14:04] doubleface commented on #250
And same with SFR or ameli. I Will look at it since this is probably due to my notification fix

[2016-05-16 09:47] ZeHiro opened #256 "Sanitize error message"
Some website send html error message. They should be sanitized to prevent client failure.

[2016-05-16 10:21] #256 closed

[2016-05-16 22:11] twitwi opened #260 "Withings konnector only imported the oldest 200 steps"
I used the Withings connector and it imported most of my data (weight, heart rates, ...) but it did only import the first 200 logs of daily steps (the most recent ones are absent).

I tried re-runing the konnector, restarting the application and reconnecting. Both KYou and the data browser show only 200 steps. So my guess is that, maybe, the withings API provides chunks of 200 days.

[2016-05-17 08:18] frankrousseau commented on #260
Yeah, I have a similar bug. It's related to API changes from Withings that occured earlier this year. I will check what could be done soon.

[2016-05-17 22:24] frankrousseau commented on #260
Ok I made some research and I now know what to change. But it will require to rewrite properly the konnector. It will require some time to be done properly.

[2016-05-18 09:46] clochix opened #263 "Konnectors requires Node 4"
The `imagemagick-stream` was [recently updated](https://github.com/cozy-labs/konnectors/commit/5c52478ba2735ab3ae7aace79ff0a1c2646e043d) and it seems that this version requires Node 4.

Users of Node 0.10 get the following error message, wich prevent the application to start:
[code]

As lot of users still use Node 0.10, maybe should we consider downgrading `imagemagick-stream`.

[2016-05-18 18:50] twitwi commented on #260
Thanks for looking into it.
There is no urgency on my side. I can surely wait (or maybe even come back to it at some point and try to do the rewrite).

[2016-05-21 21:38] teolemon commented on #81
Really cool. Feel free to join us on Open Food Facts's Slack to see how we can help.

[2016-05-22 17:14] ZeHiro opened #267 "Bad credential not raised for these connectors"
No call to next('bad credentials')
- [ ] ./googlecontacts.coffee
- [ ] ./sncf.js
- [ ] ./isen.coffee
- [ ] ./birthdays.js
- [ ] ./linkedin.js
- [ ] ./ovh_eu.coffee
- [ ] ./ovh_ca.coffee
- [ ] ./soyoustart_eu.coffee
- [ ] ./soyoustart_ca.coffee
- [ ] ./kimsufi_eu.coffee
- [ ] ./kimsufi_ca.coffee
- [ ] ./ical_feed.js
- [ ] ./github.coffee
- [ ] ./sfr_box.js
- [ ] ./sfr_mobile.js
- [ ] ./nest.coffee

[2016-05-22 17:42] ZeHiro commented on #267
Which means the user is not warned if he has not entered the right password

[2016-05-22 20:38] #144 closed

[2016-05-24 07:40] ZeHiro opened #276 "The 404 error sends a request to google servers"
This should be prevented.
https://github.com/cozy-labs/konnectors/blob/master/client/app/assets/404.html#L154

[2016-05-24 14:09] ZeHiro commented on #250
@doubleface
The problem is still here on manual fetch

I think it is here :
https://github.com/cozy-labs/konnectors/blob/20912f900bf788dccc613cd71cbd4b22a9730098/server/controllers/konnectors.coffee#L94

[2016-05-24 15:28] doubleface commented on #250
Yes, you are right, I fixed this this week end but could not finish it because it raised another problem with localization. I may update the pullrequest later this week (if I get the time to do  it...).

[2016-05-24 20:29] frankrousseau commented on #216
I think that some fixes were pushed for the Ameli konnector. Do you still face this issue?

[2016-05-24 20:30] frankrousseau commented on #221
@brouberol It looks like @doubleface made a fix for this. Can you check that eveything is ok?

[2016-05-24 20:32] frankrousseau commented on #263
Fixed with latest release.

[2016-05-24 21:14] jeekajoo commented on #216
I don't.
Thank you

[2016-05-25 06:59] brouberol commented on #221
Seems to work, yes :)

--
B

On Tue, May 24, 2016, at 11:05 PM, Frank Rousseau wrote:

Links:

  1. https://github.com/brouberol
  2. https://github.com/doubleface
  3. https://github.com/cozy-labs/konnectors/issues/221#issuecomment-221392071

[2016-05-25 08:54] frankrousseau commented on #221
Awesome thank you @brouberol and @doubleface!

[2016-05-25 08:54] #221 closed

[2016-05-25 08:55] #216 closed

[2016-05-25 13:16] frankrousseau opened #279 "Use scraproxy to not be blacklisted"
@fabienvauchelles wrote a proxy to allow scrapping without blacklisting. Maybe there is something that konnectors could reuse from it. I didn't make extensive research. But I post the link here for discussion and brainstorm about it.

http://scrapoxy.io/

[2016-05-25 14:02] fabienvauchelles commented on #279
Yep :) The proxy starts/stop instances on AWS (or OVH/DigitalOcean) and routes your request throught them.

[2016-05-26 09:30] CPatchane opened #281 "Day/Date selection for automatic imports"
When a user want an automatic import for every day/month, that could be better to give him the capability to choose which day of the week, or which number of the month he wants the konnector to do the import.
That could help to sync automatic imports in a same period for instance.

[2016-05-27 09:35] ZeHiro opened #283 "Improve developpement process"
Some cool improvements could be done to improve the development of a new connector :
- [ ] Rebuild (client AND server) on file change
- [ ] Hot reload of server-side of files when built.

Currently, as konnectors is mainly server-side development, it take very long time to build again the app (30s) and restart the application.

[2016-05-28 19:00] frankrousseau commented on #283
In fact you don't need to rebuild everything each time you change something on the server. You can simply debug things through the coffee code:

[code]

You can use the dev tools too: https://gist.github.com/frankrousseau/e083c09535bfc4e8ba0df311ce619ad8

[2016-05-29 09:42] ZeHiro commented on #250
@doubleface I took care of that

[2016-05-29 11:58] #178 closed

[2016-05-29 21:03] #250 closed

[2016-05-30 07:53] doubleface commented on #250
Thank you for that @ZeHiro !

[2016-05-31 21:20] ZeHiro opened #294 "Match same operation on the same day"
With capitain train, it is possible to have on the same day, the exact same operation, without being duplicates (just buy twice the same ticket, but pay it in two time). Currently, it is possible to match only one operation, the second one won't be.

[2016-06-01 12:45] ZeHiro opened #297 "Implement tests for multiple labels matching"

[2016-06-02 12:28] ZeHiro opened #299 "Linker konnector"
This konnector would not import data from a service, but just link a set of files to operations from a given folder, and move them to another folder.
Use case : the konnector for the service is not developped yet, or there will never be. Eg: the company to which I rent my apartment sends me pdf bills, but there will never be a konnector for that (to small company).
Based on the name of the file (e

[2016-06-02 21:01] frankrousseau commented on #299
Yes definitely. Maybe that konnectors could evolve to "scriptors", a bunch of javascript scripts runned on a regular basis or on demand.

[2016-06-02 22:32] ZeHiro commented on #299
Ok, i'll try to do something for that

[2016-06-03 19:25] doubleface commented on #39
This one seems to be fixed when I last tested it. Do I miss something?

[2016-06-03 20:03] ZeHiro commented on #39
I did fix this.

[2016-06-04 05:28] doubleface commented on #39
Then let's close it

[2016-06-04 05:28] #39 closed

[2016-06-05 09:59] ZeHiro opened #302 "Uber konnector"
Fetch bills
Rides?

[2016-06-05 10:22] frankrousseau commented on #302
Both ;)

[2016-06-05 10:31] ZeHiro commented on #302
For the rides, we need to define a new docType (trip?).

[2016-06-05 10:36] roukydesbois commented on #302
Hello guys,
For your information, I started such a konnector after the "tech meetup", but I haven't done a lot on it or found time to continue yet. Here it is, feel free to use/inspire/ignore ;)
https://github.com/roukydesbois/konnectors/blob/master/server/konnectors/uber.js

[2016-06-05 13:08] ZeHiro commented on #302
I'll use you code ;)

[2016-06-05 14:27] frankrousseau commented on #302
About the doctype maybe that `Path` could be a good type. With a `type` field that could allow values like *trip*, *running*, *biking*, etc.

[2016-06-09 06:21] ZeHiro opened #307 "Free website evolved"
the amount is not parsed correctly (no link possible with bank operations)

[2016-06-09 19:01] #307 closed

[2016-06-11 21:35] #276 closed

[2016-06-14 09:35] #302 closed

[2016-06-15 14:32] ZeHiro opened #322 "Konnector for amazon"

[2016-06-19 20:38] Chocobozzz opened #328 "SNCF konnector broken"
They re made the orders page UI (snif). I'll make another PR to fix it.

[2016-06-20 07:58] pierrevdk opened #329 "Loose id and password when opening files from konnector"
I wanted to add Captain Train to my cozy, so I just added my Id and my password when I realized I forgot to create a folder for Captain Train on files.
I clicked on "Open the selected folder" created the folder I wanted in files, and when I came back my Id and password where gone. Nothing tremendously bad, but it's a bit frustrating ;)

[2016-06-20 08:07] pierrevdk opened #330 "Blank page when I click on "Open the selected folder""
When I click on "Open the selected folder" and the folder doesn't exist yet, the url shouldn't be https://mycozy.cozycloud.cc/#apps/files/folders/ but https://mycozy.cozycloud.cc/#apps/files/

When I got to https://mycozy.cozycloud.cc/#apps/files/folders/ I end up on a blank page

[2016-06-20 08:18] ZeHiro commented on #329
@pierrevdk I also observed this, but only when the credentials were not yet saved in the base (before clickeing save and import). Is it what you did?

[2016-06-20 08:19] pierrevdk commented on #329
@ZeHiro Exactly

[2016-06-20 08:22] ZeHiro commented on #330
@pierrevdk I guess from what you said that the folder is not yet set. I see where the problem is. I'll fix this.

[2016-06-20 09:01] #330 closed

[2016-06-20 13:42] clochix opened #332 "[calendar] Add a list of existing calendars"
“one way to quickly improve the experience in Konnector would be to use a dropdown list of existing calendars. Currently we need to rewrite the calendar name” See cozy/calendar#557

[2016-06-25 18:51] ZeHiro opened #335 "Warn the user an error occured in the list of connectors"

[2016-06-25 20:38] Zykino commented on #335
I was the one asking for this enhancement on IRC.
I was thinking of a red warning sign (glyphicons-warning-sign for example) with a HTML title containing the error of the (bad credential/...).
Or the icon and the text under the "last import" line.

[2016-06-27 10:01] #328 closed

[2016-06-28 13:45] clochix opened #337 "Import interval are wrong"
Users are reporting on [the forum](https://forum.cozy.io/t/app-konnectors-ne-suit-pas-les-regles-dimportation-automatique/2815) and IRC that import interval doesn't seem to work.

[2016-06-29 07:10] cnovel commented on #337
Here's the log when it tries to update each hour
[code]
It seems it just postpones the update but doesn't actually do anything.

[2016-06-29 07:34] frankrousseau commented on #337
It may be related to the fact that konnectors handle several accounts now. The change is probably not properly handled on the scheduler side. I will have a look at it.

[2016-07-04 13:07] ZeHiro commented on #337
looks like this is due do the multiple accounts thing :
https://github.com/cozy-labs/konnectors/blob/master/server/init/konnectors.coffee#L18

[2016-07-04 15:39] clochix opened #346 "[withing] Cannot read property 'measuregrps' of undefined"
Error seen in logs:
[code]

Ping @frankrousseau

[2016-07-04 16:08] frankrousseau commented on #346
Thx for reporting.

[2016-07-06 08:39] #335 closed

[2016-07-08 13:13] clochix commented on #346
For the record, here's the server answer:
[code]
I don't find this error code [inside API documentation](http://oauth.withings.com/api/doc).

[2016-07-08 13:50] clochix opened #351 "Vente privée seems broken"
A user reported (by email) that he was unable to read some of the PDFs downloaded the the vente-privée site.
Looks like this files are in fact HTML error pages, often requesting to log into the site.

So something probably goes wrong with auth or cookies. Password is ok, the connector is able to fetch the list of bills and their metadatas, but not the attached PDF file.

[2016-07-08 13:51] clochix commented on #351
Pinging @SomeAverageDev

[2016-07-08 14:19] clochix opened #352 "Withings konnector seems broken"
A user keeps getting an unknown error code( `{"status":246,"error":"246"}` ) when trying to get its measures.

[2016-07-09 08:54] ZeHiro opened #354 "Podcast konnectors error"
From the forum
This error is thrown when truingto import this feed :

http://radiofrance-podcast.net/podcast09/rss_10177.xml
@babolivier
[code]

[2016-07-09 16:28] babolivier commented on #354
Yup, that's part of the changes that broke the connector just before it was published (basically almost all the changes in https://github.com/cozy-labs/konnectors/commit/87a65fdf41e3d47672e18c6730af557c8f92dd94, excepted the merge stuff in the locales files). I'll try to find some time to fix it, but as I was supposed to be finished with this connector, I can't promise to do it very soon.

[2016-07-10 07:41] SomeAverageDev commented on #351
Hello,
Only the first bill is fetched for me, but the parsing of the VP page is fine.
The issue might be located in the fetching process inside konnector itself...

How can we debug that part ?

[2016-07-10 11:51] ZeHiro commented on #351
@SomeAverageDev, can't you ise the option jar=true of request for saving the cookies?

[2016-07-11 15:11] clochix commented on #351
This issue is really strange, the parsing of the VP page is fine but the downloading of the bill itself triggers auth error.

Maybe could you run the konnector locally, in DEBUG mode to have more logs. Or add debug output.

[2016-07-11 15:42] SomeAverageDev commented on #351
This might be VP that changed something for security reason... they might think no human would download all its bills within 2 seconds.

On my dev, I run the cozy-dev vagrant image, do you know how I can enable the debug on konnectors side ?
On my vp konnector I use the "`[debug](https://www.npmjs.com/package/debug)`" library. This prints the result of the parsing (url / dates / prices), which are

[2016-07-12 09:53] ZeHiro commented on #351
For debugging I use console.log, To insert a delay between imports, this can be done using setTimeout(delay, callback) :
here :
https://github.com/cozy-labs/konnectors/blob/master/server/lib/save_data_and_file.coffee#L64

and define a new option. I would see something like that :

[code]

@frankrousseau ?

[2016-07-13 07:24] nicofrand commented on #351
I just tried this konnector today (2016-07-13) and here is what happened, maybe that could help:

* It retrieved all my bills
* Several have the same weird size : 796B
* I can open only the two last bills (even the others bills with sizes around 10 kB do not work)

![4](https://cloud.githubusercontent.com/assets/3419050/16794942/eff12412-48da-11e6-8866-c7f6b7995651.png)

[2016-07-13 07:35] ZeHiro commented on #351
@nicofrand
The small 'bills' must be html files. Their content could help to understand what's going on.

[2016-07-13 07:44] ZeHiro opened #357 "It should possible to specify which application to open in the notification"
From IRC @nicofrand suggested it should be possible to parametrize which application to open when clicking on the 'open app link' in the notification. For example:
- When importing a bill it makes more sense to open the Files application in the import directory
- When importing a music it makes more sense to open the music application

[2016-07-13 08:01] nicofrand commented on #351
I downloaded one the 796B files.
Once downloaded tis size is around 11Kio (like the two others between 10 and 76 kB in fact), and not 796B !

Here is the content :

[code]

[2016-07-13 08:11] ZeHiro commented on #351
@SomeAverageDev
Maybe using the "keep me connected" in the connection form could fix the problem.

[2016-07-13 08:32] ZeHiro opened #358 "Size of imported files seems buggy on certain imports."
see :
https://github.com/cozy-labs/konnectors/issues/351

[2016-07-13 08:55] SomeAverageDev commented on #351
thanks, we can see that while retreiving the bill file, the VP website redirect us to the login page.
and the login form might redirect back to the bill.

`<form action="/authentication/login/FR?ReturnUrl=%2fmemberaccount%2forder%2finvoice%3forderId%3d4654654&amp;orderId=14456446"`

We know the WHAT, but I don't understand the WHY yet. I think VP website updated something.
I need to try to set a d

[2016-07-13 08:56] ZeHiro commented on #358
It seems fs.statSync here : https://github.com/cozy-labs/konnectors/blob/master/server/models/file.coffee#L94
Returns a wrong information. As the size of file is smaller than expected, there could be a synchronisation problem (fs.statSync called whereas the file is not yet created).

[2016-07-13 09:00] ZeHiro commented on #351
the "keep me connected" option wouldn't be enough @SomeAverageDev ?

[2016-07-13 09:06] SomeAverageDev commented on #351
I will try, but usually this option is to keep connected through several days, not during the same session...
this could be an issue with cookies, security measures from VP, etc...
I managed to get the HTTP traffic yesturday, but could not decode the SSL yet...

quite difficult to find the root cause then.

[2016-07-13 09:32] nicofrand commented on #358
I tried fs.fstat and fs.stat too (just before https://github.com/cozy-labs/konnectors/blob/master/server/models/file.coffee#L94) and the files size are incorrect too.

What I did for fs.fstat:

[code]

The result:

[code]

4096 is not the right size either.

What I did for fs.stat:

[code]

The result:
[code]

[2016-07-13 10:51] ZeHiro commented on #354
@babolivier
This problem could also occur due to the fact that the docType "Track" is not declared in the authorisations of package.json

[2016-07-13 11:11] babolivier commented on #354
Yep, there's that error too, that @frankrousseau has already taken care of in #355. This PR should be merged soon, I guess.

[2016-07-13 16:01] SomeAverageDev commented on #351
@ZeHiro
the option "keep me connected" does not exist...

this issue is very strange, i have done the test just now and all 12 PDF were downloaded correctly.

Does everyone use a hosted cozy from cozy cloud ? It could be an IP filtering from VP seeing to much connection from the same IP... ?

[2016-07-13 16:56] SomeAverageDev commented on #351
could someone having the issue can change a file on its cozy ?

replace in the file
`/usr/local/cozy/apps/konnectors/build/server/lib/save_data_and_file.js`
the line 60
`return createFileAndSaveData(entry, entryLabel);`
with
`return setTimeout (createFileAndSaveData, 3000, entry, entryLabel);`

[2016-07-14 07:31] ZeHiro opened #360 "Capitaine train fails on daily fetch"
here is the error :
[code]

A disconnection should be added at the end.

[2016-07-14 07:40] ZeHiro commented on #360
This could also be an update in the connection process.

[2016-07-15 09:46] ZeHiro commented on #351
@SomeAverageDev
I cannot test, I don't have a ventre privée account.
You're fix looks like what I proposed a few comments ago, but my solution is more generic: it activates the delay only if the connector developper asks for it, so that it is not necessary to wait 3s for all the konnectors.

[2016-07-15 16:59] nicofrand commented on #351
I tested your fix @SomeAverageDev and only 1 file was corrupted (501 B this time). So I guess that's better but that's not optimal. We could still increase the delay but that's an ugly hack :(.

[2016-07-16 21:08] #360 closed

[2016-07-17 12:21] frankrousseau commented on #354
I published a 0.7.0 version of Konnectors. Can you check if everything is right?

[2016-07-17 12:24] frankrousseau commented on #358
Maybe that https://github.com/cozy-labs/konnectors/blob/master/server/models/file.coffee#L95-L103 should be written when the `end` event is fired on the stream.

[2016-07-18 07:12] babolivier commented on #354
Works on my side! :clap:

[2016-07-18 08:15] ZeHiro opened #363 "Record the maintainer of connectors"
Sometimes the connectors are broken due to an update of the website. It could be interesting to have a table/list linking the connectors to their developper to be able to easily warn the developper that an update is required

[2016-07-18 08:15] clochix opened #364 "Sosh konnector seems broken"
A user report that the Sosh konnector is unable to import its bills.
Logs look all right:
[code]

Ping @frankrousseau

[2016-07-18 08:15] clochix opened #365 "Orange konnector seems broken"
A user reports that the Orange konnector is unable to import its bills.
Logs look all right:
[code]

Ping @frankrousseau

[2016-07-18 08:23] Chocobozzz commented on #363
Agreed. Moreover, would it be possible to use the "Cozy statistics" to try to automatically notice when a konnector seems broken?

[2016-07-18 10:55] pololasi commented on #354
It works on my side too.
Import of about 150 podcasts in progress
[http://radiofrance-podcast.net/podcast09/rss_10177.xml](url)

[2016-07-18 11:02] frankrousseau commented on #363
What do you mean by Cozy statistics?

[2016-07-18 11:07] ZeHiro commented on #363
@frankrousseau I think he means using your server to monitor the konnectors' status

[2016-07-18 11:29] SomeAverageDev commented on #351
thanks @nicofrand, I don't really know what to do now...
Do you use an instance hosted by cozy cloud, or do you use your own ?
Another solution might be to configure a http proxy, but could raise security concerns...

I might try to send a mail to VP to see if they can give me some intels...

[2016-07-18 11:35] Chocobozzz commented on #363
@ZeHiro :+1:

@frankrousseau For example catch the exceptions/status of Konnectors from the [test servers](https://cozy.io/fr/try-it/?from=home)? It's just an idea, maybe there are other interesting tracks to explore but I think it would be a very useful feature to help developers to maintain their konnectors.

[2016-07-18 11:45] SomeAverageDev commented on #351
@ZeHiro, i just wanted to try your solution before even thinking of asking for a state of the art code change ! ;-)

[2016-07-18 11:57] frankrousseau commented on #363
Ok, I understand better now. But how could we check? It would require fake accounts on each services.

[2016-07-18 12:00] ZeHiro commented on #351
@SomeAverageDev
When you add this peace of code, could you also include the option in the wiki? Thanks

[2016-07-18 14:00] nicofrand commented on #351
@SomeAverageDev I use my own instance on a kimsufi server.

[2016-07-18 16:40] clochix commented on #246
Hi @rgarrigue,

Do you still face this issue? The related #216 has been fixed for some time now…

[2016-07-19 07:44] frankrousseau commented on #363
Before going further, I think we should make the contributor list. What do you think about it?

[2016-07-19 08:05] Chocobozzz commented on #363
I agree, something like @ZeHiro said :+1:

For the check, I would imagine a "report error" popup (or another thing) that would report anonymously the status code/error to a collector server. This server would analyze the datas and report an anormal amout of errors for a particular konnector.

But maybe this is not the relevant issue to discuss that?

[2016-07-19 08:06] pierrevdk opened #369 "When moving the target folder of a connector, the target folder in unselected"
I moved the target folder of my connector (cozy/administratif/sfr/ for example) in a new folder (cozy/administratif/factures/sfr/) and the target folder of the connector went back to the primary folder (cozy/)

[2016-07-19 08:24] frankrousseau commented on #369
Thank you @pierrevdk  for reporting this bug.

[2016-07-19 09:00] frankrousseau commented on #363
Yep let's open another issue!

[2016-07-19 09:26] Chocobozzz opened #370 "Create OVH CA application tokens"
The OVH CA konnector doesn't work yet because it does not have application tokens.

If you have an OVH CA account, you can create the application tokens to make this konnector work for everyone!

**URL:** https://api.runabove.com/createApp/
**Application name:** Cozy Cloud - Konnectors
**Application description:** Import data in your Cozy

Thanks :)

[2016-07-19 09:28] Chocobozzz opened #371 "Create SoYouStart EU application tokens"
The SoYouStart EU konnector does not work yet because it does not have application tokens.

If you have a SoYouStart EU account, you can create the application tokens to make this konnector work for everyone!

**URL:** https://eu.api.soyoustart.com/createApp/
**Application name:** Cozy Cloud - Konnectors
**Application description:** Import data in your Cozy

**File:** https://github.com/cozy-labs/

[2016-07-19 09:29] Chocobozzz opened #372 "Create SoYouStart CA application tokens"
The SoYouStart CA konnector doesn't work yet because it does not have application tokens.

If you have an SoYouStart CA account, you can create the application tokens to make this konnector work for everyone!

**URL:** https://ca.api.soyoustart.com/createApp/
**Application name:** Cozy Cloud - Konnectors
**Application description:** Import data in your Cozy

Thanks :)

[2016-07-19 09:30] Chocobozzz opened #373 "Create Kimsufi EU application tokens"
The Kimsufi EU konnector does not work yet because it does not have application tokens.

If you have a Kimsufi EU account, you can create the application tokens to make this konnector work for everyone!

**URL:** https://eu.api.kimsufi.com/createApp/
**Application name:** Cozy Cloud - Konnectors
**Application description:** Import data in your Cozy

**File:** https://github.com/cozy-labs/konnector

[2016-07-19 09:31] Chocobozzz opened #374 "Create Kimsufi CA application tokens"
The Kimsufi CA konnector does not work yet because it does not have application tokens.

If you have a Kimsufi CA account, you can create the application tokens to make this konnector work for everyone!

**URL:** https://ca.api.kimsufi.com/createApp/
**Application name:** Cozy Cloud - Konnectors
**Application description:** Import data in your Cozy

Thanks :)

[2016-07-19 09:40] Chocobozzz opened #375 "Try to automatically detect konnector issues"
See https://github.com/cozy-labs/konnectors/issues/363

The idea is to use (real world) user konnector exceptions/bad status code to detect if a konnector doesn't work anymore. The purpose is to help developers to maintain their konnectors.

[2016-07-19 15:46] ZeHiro opened #376 "Missing folder for import of SNCF bills"

[2016-07-19 15:54] Chocobozzz commented on #376
SNCF bills don't have PDF. Maybe we could add the e-ticket (if it exists) but for me it's not a bill file.
In another hand, if we do this we could then add a link in the event description to the e-ticket file.

If there are no e-ticket, I don't think it's possible to have a PDF bill.

[2016-07-19 15:55] ZeHiro commented on #376
The konnectors says :
Importez vos factures et événements SNCF dans votre Cozy.

[2016-07-19 16:01] ZeHiro commented on #376
@Chocobozzz So this Konnector just imports 'nothing' (apart from the events)?

[2016-07-19 16:03] Chocobozzz commented on #376
It imports bills that don't contain a PDF link: https://github.com/cozy-labs/konnectors/blob/master/server/konnectors/sncf.js#L120 (`pdfurl` is just not set).

[2016-07-19 16:05] ZeHiro commented on #376
OK. Maybe the text of the Konnector should tell this, as some people expect a real bill :)

[2016-07-19 16:06] ZeHiro commented on #376
I close

[2016-07-19 16:06] #376 closed

[2016-07-20 08:57] clochix opened #378 "Ameli konnector is broken"
According to [this thread](https://forum.cozy.io/t/app-konnectors/1176/20), the website has been updated and the konnector is unable to fetch the bills.
Ping @Gara64

[2016-07-20 13:39] nicofrand commented on #358
Simply adding the following code just above https://github.com/cozy-labs/konnectors/blob/master/build/server/models/file.js#L142 did not work (still had a size of 796).

[code]

[2016-07-20 14:00] nicofrand commented on #239
Duplicate of https://github.com/cozy-labs/konnectors/issues/163 ?

[2016-07-20 14:00] nicofrand commented on #267
Duplicate of Duplicate of https://github.com/cozy-labs/konnectors/issues/163 ?

[2016-07-20 14:09] nicofrand commented on #163
Same as https://github.com/cozy-labs/konnectors/issues/267 (which is more exhaustive).

[2016-07-20 14:09] #163 closed

[2016-07-20 14:31] nicofrand commented on #240
Duplicate of https://github.com/cozy-labs/konnectors/issues/94 ?

[2016-07-21 07:15] bnjbvr commented on #375
Nice, that's interesting. For what it's worth, that's also an issue for Kresus : when Weboob specific bank modules aren't up to date anymore, we can have connectivity issues between the bank and the Cozy. The people at Budgea, the company behind Weboob, have had an idea of a "weather map" of connections: they just retrieve, from each user, whether the connection was successful or not. Then, they d

[2016-07-21 07:18] bnjbvr commented on #375
Another idea I had was to have a small test server, that one could run on their own personal server. This server would just try to connect to the provider's website, for a given single (or more) konnectors, using the CLI. This server would then send its result to a centralized server that could then send alerts to maintainers.

So for instance, let's say I'm the maintainer of X, and Alice is the m

[2016-07-21 07:25] ZeHiro commented on #375
I think it is hard to detect a failed konnector :
- detecting a failure in the connection process can be easy (but this means strengthening the process to detect connection errors)
- detecting a change in the page layout is much harder (is cheerio returning no value because there is no data to parse, or is it because the page changed?)

[2016-07-21 09:59] Aryess commented on #96
Issue solved since then. Thanks

[2016-07-21 09:59] #96 closed

[2016-07-21 20:36] rgarrigue commented on #246
Sorry, can't say as I nuked my cozy with an hazardous couchbase moving unto
usb drive... you can close the issue.

2016-07-18 18:40 GMT+02:00 Clochix <notifications@github.com>:

[2016-07-22 08:44] pierrevdk commented on #239
@nicofrand Yes it is ;)

[2016-07-22 08:46] #239 closed

[2016-07-22 08:59] nicofrand commented on #127
I can't reproduce it anymore, I close the ticket.

[2016-07-22 08:59] #127 closed

[2016-07-22 09:07] ZeHiro commented on #127
@nicofrand : do not click twice on the "import" button to fast.

[2016-07-22 09:39] nicofrand opened #381 "Removing a konnector's config should also remove the warning icon"
**Steps to reproduce:**

0. Enter wrong id/password for digital ocean for example: a warning icon appears on its right in the menu and a "import error" message is displayed below the submit button.
0. Delete the configuration

**What happens:**

* The error message is still displayed
* The icon is still displayed.

**What I expect:**

The icon is removed as well as the import error message.

[2016-07-22 09:47] ZeHiro commented on #346
Should be fixed with :
https://github.com/cozy-labs/konnectors/pull/350

[2016-07-22 09:48] clochix commented on #346
cf #350 : this PR prevent application to crash, but doesn't fix the root cause of the error: user is still unable to import its data.

[2016-07-22 11:26] nicofrand opened #383 "SFR mobile does not fetch the last bill"
The connector only fetches the bills issued before the last one (another selector is needed when parsing the page).

[2016-07-22 15:00] nicofrand commented on #375
Maybe we could detect some parsing errors with cheerio by first selecting a higher DOM node.
Ex: to retrieve the list of my bills I use
[code]
Then, if `bills.length` (just an example, we actually check `bills.fetched.length`) returns 0, we do not know if this is an error or there was simply no result.

If  Instead, we select the container :
[code]
and then each element :

[code]

If `container.le

[2016-07-22 15:24] nicofrand commented on #352
Some guy had the same issue with a different application and seems to have found a solution : https://plus.google.com/111101935082345108901/posts/KB5jYaM1J81.

[2016-07-22 15:28] nicofrand commented on #241
I can't reproduce it either… Do you still have the issue @pierrevdk ?

[2016-07-22 15:35] #246 closed

[2016-07-22 16:34] eravion commented on #213
Hi,

I still have the problem. Sorry

[2016-07-22 16:43] ZeHiro commented on #241
I corrected it if i remember well.

[2016-07-22 16:52] SomeAverageDev commented on #351
J'ai contacté vente-privée, même si j'ai aucune chance d'avoir une réponse ;-)

[2016-07-25 09:59] ZeHiro opened #387 "eslint-config-airbnb not compatible with eslint 3"
This causes breaks in Travis and on developpers machines

[2016-07-25 11:04] nicofrand commented on #387
I downgrade eslint to ^2.9.1 in https://github.com/cozy-labs/konnectors/pull/380

[2016-07-25 12:44] ZeHiro commented on #387
yse @nicofrand
But this idea of this issue is to find a correct way to manage the issue : delete eslint-config-airbnb? And then rewrite a set of rule for the linter. This could be a possibility.

[2016-07-26 06:29] nicofrand opened #388 "Different bills from a same day created with the same name"
A user on IRC reports that konnectors fetched his bills and he had two bills from the same day.
Those two bills were imported under the same name (which then throws an error when trying to rename it in *Files*).

Maybe konnectors should check that a file with the same name does not already exists AND that alls bills from the same import have different names.

[2016-07-26 07:35] ZeHiro commented on #388
Should be from the captain train konnector. I'll check what I can do.

[2016-07-26 07:55] nicofrand commented on #388
I guess that's the point for several konnectors (except those with a monthly bill, and even then I am not sure : imagine the end of a contract issuing a bill the same day than a recurrent bill). Maybe that should be handled by konnectors itself when creating the file, instead of each connector ?

[2016-07-26 08:26] ZeHiro commented on #388
Of course it should be handled by konnectors itself

[2016-07-27 08:47] nicofrand opened #392 "Update the wiki"
- [ ] Use const/let when available
- [ ] Use arrow functions
- [ ] Use single quotes
- [ ] Use the default models (see /models) instead of cozy-db

[2016-07-27 08:47] Chocobozzz commented on #387
Related to https://github.com/airbnb/javascript/issues/936.

I prefer to keep using airbnb rules instead of writing custom rules. Airbnb rules are well argumented and used by a lot of JS developers which would ease new contributions.

[2016-07-27 09:13] nicofrand commented on #354
This issue seems fixed now.

[2016-07-27 09:13] #354 closed

[2016-07-27 09:16] nicofrand commented on #346
Moved to https://github.com/cozy-labs/konnectors/issues/352

[2016-07-27 09:16] #346 closed

[2016-07-27 09:18] nicofrand commented on #392
Other improvement ideas https://github.com/cozy-labs/konnectors/issues/220

[2016-07-27 09:35] nicofrand opened #393 "locales : "bad credentials" defined twice"
See https://github.com/cozy-labs/konnectors/blob/master/client/app/locales/en.coffee#L3 and https://github.com/cozy-labs/konnectors/blob/master/client/app/locales/en.coffee#L199.

Same in https://github.com/cozy-labs/konnectors/blob/master/client/app/locales/fr.coffee

[2016-07-27 09:40] nicofrand opened #394 "locales : use dataType notification instead of a notification per connector"
Currently each connector defines its own notification localization. Most of those localizations are identical : https://github.com/cozy-labs/konnectors/blob/master/client/app/locales/en.coffee#L134-L175.

We should use the [data types](https://github.com/cozy-labs/konnectors/wiki/List-of-currently-available-data-types) instead (but still allow each connector to provide its own translation) :

[cod

[2016-07-27 09:55] ZeHiro commented on #332
see how folders are managed

[2016-07-27 09:57] nicofrand commented on #241
@ZeHiro Isn't this commit https://github.com/cozy-labs/konnectors/commit/836f6687ed21a560533110ac054d5bd847be7611 the one that fixed it ?

[2016-07-27 09:58] nicofrand commented on #241
Duplicate of https://github.com/cozy-labs/konnectors/issues/241

[2016-07-27 09:58] #241 closed

[2016-07-27 10:56] #383 closed

[2016-07-27 13:56] ZeHiro opened #395 "Problem with update of credentials of connector with schduled import"
I have a scheduled import for captain_train connector
I updated my credentials for it
The button 'save and import' remained grey until i reloaded the page
The logs said no import had started.
I see at least 1 bug :
- The save and import button should have come back to blue without reloading the page
- The import wasn't done quite weird for a save and import button (even if a scheduled import is se

[2016-07-27 14:02] ZeHiro commented on #395
Seems not to be how it happened. Small delay in the logs. I close

[2016-07-27 14:02] #395 closed

[2016-07-27 17:22] SomeAverageDev commented on #351
a new release is avalaible, the new konnector only download the latest bill...only solution so far...

[2016-07-28 07:43] clochix opened #396 "[linked-in] “User not opted-in” error message"
Some users [are reporting](https://forum.cozy.io/t/konnectors-linkedin-cannot-synchronise-contacts-user-not-opted-in/2140) that they get a “User not opted-in” error message when they try to use this konnector.

@Peltoche any idea?

[2016-07-28 08:13] ZeHiro commented on #396
I think we should use a proper application declared to linkedin so that we can directly connect to the json API.

[2016-07-28 11:25] nicofrand opened #397 "Date handling inconsistent"
when getting the filename the date field of the entry is casted from a moment instance to a Date instance.

See https://github.com/cozy-labs/konnectors/blob/master/server/lib/naming.coffee#L31

Just getting the filename should not modify the entry.

:warning:  Each method using entry.date after that must expect a moment instance in https://github.com/cozy-labs/konnectors/blob/master/server/lib/sav

[2016-07-29 12:40] nicofrand opened #400 "Generate the icons sprite on build"
No idea how to do it yet, just a reminder.

[2016-07-29 12:42] ZeHiro commented on #400
have a look at Kresus sprite generation. The problem is that the lib used to generate the sprites needs compilation of C code, and can be a problem for new contributors when setting their environnement

[2016-07-29 12:43] nicofrand commented on #267
Some of the connectors return the error itself instead of "bad credentials". Ex: https://github.com/cozy-labs/konnectors/blob/master/server/konnectors/sfr_mobile.js#L94

Maybe the documentation isn't clear enough ?

[2016-07-29 12:50] nicofrand commented on #400
The main issue would be to detect the icons. That would be easier to force the connector js/coffee file, the model's name and the icon file to all have the same name.

Then for each konnector we look for the icon file, read it, insert it in base64 inside the SVG, and that would be ok, no ? The question of the image's size remains but we could force it to a standard one, same for all icons ?

[2016-07-31 12:52] Zykino opened #403 "In the konnector, having a link to the website connected"
I was curious about the SNCF konnector and after some search in the source code I found that the konnector was designed to use http://www.voyages-sncf.com data and not http://www.sncf.com ones.

So I think, for the standard user, it will be better to click somewhere and see if it's the website he was thinking of.

There can be the same problem with localized website (OVH EU/US/...) or website with

[2016-08-02 07:04] pierrevdk commented on #396
Shouldn't we remove it until this is fixed? It could avoid user frustration ;)

[2016-08-02 07:08] clochix opened #414 "Add a way to mark a konnector as broken"
Konnectors may be broken due to remote site update (for example, Ameli or LinkedIn seems currently broken). It would be nice to be able to mark a konnector as temporary broken.

Should this involve a central konnector registry ?

[2016-08-02 08:06] ZeHiro commented on #403
Konnectors usually have vendorLink property, it is then easy to displayy this information to the user.

[2016-08-02 08:06] pierrevdk opened #415 "Konnector for Gandi"

[2016-08-02 08:07] ZeHiro commented on #396
@pierrevdk  : @clochix has opened #414 for this specific use case.

[2016-08-02 08:10] nicofrand opened #416 "[Reques] MyFoncia konnector"
Create a connector that retrieves the estate document from MyFoncia.fr.

[2016-08-02 08:13] ZeHiro commented on #415
@pierrevdk you want to fetch you bille right? I have already looked, and currently there is no way to fetch pdf file, only html. Is this OK for you?

[2016-08-02 08:23] ZeHiro commented on #387
Aidrbnb updated their eslint config to 10.0 now compatible with eslint 3.x

[2016-08-02 08:23] #387 closed

[2016-08-02 10:31] pierrevdk commented on #415
@ZeHiro Yes I do.
Why not, could it be possible to generate a pdf from the html before saving it?

[2016-08-02 10:33] pierrevdk commented on #396
All right ;)

[2016-08-02 11:09] ZeHiro commented on #415
@pierrevdk that's also an option, i'll work on this connector when I find time.

[2016-08-02 12:41] pierrevdk commented on #415
Awesome, thanks!
On Tue, 2 Aug 2016 at 13:09, Antoine BOSSY <notifications@github.com> wrote:

[2016-08-02 13:40] ZeHiro commented on #212
@Chocobozzz @babolivier
Is this working now?

[2016-08-02 13:57] ZeHiro commented on #106
@nicofrand : is a warning saying that the Databrowser app is necessary (and can be installed from the store) enough to fix this?

[2016-08-02 14:00] nicofrand commented on #106
Some connectors also need *Files*. I do not know if there is a simple way to know if those apps are installed ?

In the case of "Files" that would be nice if a connector could say it needs the app and we display a warning if not installed.

For DataBrowser, I am not sure what the "Données importées" link does, or maybe when the connector does not download any file ?

It would be nice to display a

[2016-08-02 14:21] ZeHiro commented on #337
@cnovel It seems to work on konnectors 0.7.0 . And I observe it is working again on my cozy.
Fixed by : ebce19ece863790f38c90dbcd170f239946e0c52

[2016-08-02 14:21] #337 closed

[2016-08-02 14:41] ZeHiro opened #420 "Facebook : Auto fetch does not seem to work"
https://forum.cozy.io/t/app-konnectors-ne-suit-pas-les-regles-dimportation-automatique/2815/13?u=zehiro

I think the problem is here
https://github.com/cozy-labs/konnectors/blob/master/server/konnectors/facebook_events.js#L103

Also instead of using Konnector.all request, a new reaquest could be created with the konnectors slug as key.

[2016-08-02 14:42] Chocobozzz commented on #212
In my side yes, but the link is not displayed in real time. We need to click on another konnector and then re click on OVH to see it. I don't think it was the case before.

[2016-08-02 14:55] ZeHiro commented on #212
@Chocobozzz I cannot see the link either (impossible to create the connector). Seems like the ui was cleaned up a bit :s

[2016-08-02 16:59] #397 closed

[2016-08-02 17:03] nicofrand opened #421 "Tests : check that a locale key does not already exists"
Add a test to ensure that a localization key is not redefined in the same file.

[2016-08-02 20:06] ZeHiro commented on #421
and is defined in all laguages.

[2016-08-03 07:00] #393 closed

[2016-08-03 11:20] #381 closed

[2016-08-03 21:02] bnjbvr opened #427 "Do not call the callback twice if File.isPresent fails somehow"
@nicofrand noticed on IRC that if there's an error in this code path, then the callback is called twice. https://github.com/cozy-labs/konnectors/blob/master/server/models/file.coffee#L40

[2016-08-03 21:32] ZeHiro commented on #427
`callback err if err` should be `return callback err if err`

[2016-08-03 21:40] ZeHiro commented on #427
Also
https://github.com/cozy-labs/konnectors/blob/master/server/models/folder.coffee#L26
err not caught (folders could be undefined)

[2016-08-03 21:43] ZeHiro commented on #427
Error not caught

https://github.com/cozy-labs/konnectors/blob/master/server/models/cozy_instance.coffee#L24

[2016-08-03 22:06] ZeHiro opened #428 "Provide vendor link for all konnectors"
- [x] captaintrain
- [x] OVH/Kimsufi/SoyouStart
- [x] SFR Box
- [x] SFR Mobile
- [x] Direct energie
- [x] Doctolib
- [x] Linkedin
- [x] SNCF
- [x] Uber
- [x] Withings

[2016-08-04 06:12] ZeHiro opened #430 "Update SNCF konnector"
Should be "voyages sncf"
- [ ] Konnctor description
- [x] Website
- [ ] Logo

[2016-08-09 06:25] #403 closed

[2016-08-09 06:44] nicofrand opened #437 "Forbid names with dots"
The connector's name is used to display the connector's icon by creating a class with the same name.
Therefore, if the name is "foo.bar" the class is "foo.bar" too which then gives ".foo.bar" in CSS, which is invalid.

We should forbid the dots in connectors names and add a test to for it.

[2016-08-09 07:21] ZeHiro opened #438 "Add vendor links for all konnectors"
When this makes sense (i.e. not for the podcast konnector)

[2016-08-09 07:31] ZeHiro commented on #438
duplicate of #428

[2016-08-09 07:31] #438 closed

[2016-08-09 08:59] ZeHiro commented on #437
the use of cozy-slug every where should prevent this

[2016-08-09 08:59] nicofrand commented on #437
I doubt cozy-slug replaces "." ?

[2016-08-09 09:00] ZeHiro commented on #437
https://github.com/cozy/cozy-slug/blob/master/main.js#L355

[2016-08-09 09:04] nicofrand commented on #437
My bad, I did not see it. Weel then, maybe cozy-slud IS used everywhere :D

[2016-08-09 09:10] ZeHiro commented on #437
maybe. At least we should add a test for this specific case to ensure if the slug contains a dot, it is removed (same is there is no slug).

[2016-08-09 12:45] nicofrand commented on #279
Since we send the login/passwords tuple to the website to connect to it, using a proxy would mean giving it our passwords (even through HTTPS), I am not sure I trust this (conceptually, not just for scaproxy which seems nice ;)).

[2016-08-09 16:10] #427 closed

[2016-08-10 16:22] nicofrand commented on #364
Another user reports that everything works fine :D. Would you remember who was your user ?

[2016-08-11 12:10] #394 closed

[2016-08-11 13:02] nicofrand opened #443 "404 page unused"
There appears to be a 404 page : https://github.com/cozy-labs/konnectors/blob/master/client/app/assets/404.html#L154 which is never called.

The CSS (`#goog` etc.) is obsolete too since the Google scripts were removed.

[2016-08-11 13:40] nicofrand opened #444 "Error not localized"
After an error while fetching the token with the numericable's connector, in a cozy in French, the following message appears:

The error is thrown at this line : https://github.com/cozy-labs/konnectors/blob/master/build/server/konnectors/numericable.js#L98.

The locale key exists though : https://github.com/cozy-labs/konnectors/blob/master/client/app/locales/fr.coffee#L51.

[2016-08-11 13:55] nicofrand commented on #444
https://github.com/cozy-labs/konnectors/blob/master/build/server/konnectors/numericable.js#L111 is not localized either.

[2016-08-11 14:44] nicofrand opened #445 "Numéricable : wrong credentials not detected"
When the credentials are wrong, the error is detected only at the token level : https://github.com/cozy-labs/konnectors/blob/master/server/konnectors/numericable.js#L125.

Numéricable does not return an error or something similar (302 error) when the credentials are incorrect BUT the request to https://connexion.numericable.fr/Oauth/login/ has a Location header with the value */Oauth/connect/* ins

[2016-08-11 14:51] nicofrand commented on #444
Same with :

`Une erreur est survenue lors de la dernière importation : bad credentials`

[2016-08-11 14:56] ZeHiro commented on #444
On a du peter un truc. Ça marchait avant.

[2016-08-11 15:14] nicofrand commented on #444
It's only the case just after the import. If we reload the page, the message is correctly translated.

[2016-08-11 15:40] #445 closed

[2016-08-11 15:44] ZeHiro commented on #444
https://github.com/cozy-labs/konnectors/blob/master/client/app/views/konnector.coffee#L412

should be :  `@showErrors t errorMessage`

[2016-08-11 15:44] nicofrand commented on #444
Message not localized here : https://github.com/cozy-labs/konnectors/blob/master/client/app/views/konnector.coffee#L412

[2016-08-11 15:59] #444 closed

[2016-08-12 17:11] nicofrand commented on #263
A user (Gilles77) reported the same issue today.

[2016-08-12 17:19] nicofrand commented on #263
Issue came back with the merge of this PR : https://github.com/cozy-labs/konnectors/pull/412

[2016-08-12 17:19] nicofrand commented on #263
The fix was https://github.com/cozy-labs/konnectors/commit/fc91e5318312d0b44095b476769a127aaf808756

[2016-08-14 07:51] nicofrand commented on #212
As @Chocobozzz said, the konnector does work (as it fetches the bills). The issue is only that the link is not displayed just after the import, the user has to click on another connector and then come back to the OVH connector to see it.

[2016-08-14 07:54] #263 closed

[2016-08-14 08:00] nicofrand opened #452 "No notifications for OVH connectors"
All connectors based on base_ovh_konnector seem to not send any notification when the bills are fetched.

[2016-08-16 07:58] ZeHiro opened #454 "Specify node version in package.json"
https://docs.npmjs.com/files/package.json#engines

Could prevent weird PR from @greenkeeperio-bot

[2016-08-16 08:01] ZeHiro commented on #454
Could also include node 0.10 in travis.yml

[2016-08-16 17:40] ZeHiro opened #455 "inconsistency between translation keys in konnectors and in locale file"
FB Events konnector uses : notification event**_s_** updated
Locales use : notification event updated
This should be harmonized

[2016-08-16 20:03] nicofrand commented on #455
Should be the plural form IIRC since commits, tweets and bills are in the
plural form. What about other events-related connectors ?

Le mar. 16 août 2016 19:40, Antoine BOSSY <notifications@github.com> a
écrit :

[2016-08-17 08:59] pierrevdk commented on #357
+1 :)

[2016-08-20 21:41] AradrinCozy opened #456 "Konnector for EDF"

[2016-08-20 23:03] ZeHiro commented on #456
What data would you like to fetch?

[2016-08-21 09:34] AradrinCozy commented on #456
First, the bills make sense, but also the contracts and "Attestation de contrat", and of course dates for the next bills (relations with calendar and kresus ?).

[2016-08-21 10:41] ZeHiro commented on #456
The match bills/kresus can easily be done (everything is in konnectors to achieve this). For the rest it is up to the developper 😊

[2016-08-21 10:47] nicofrand commented on #456
I don't have any EDF account but if other connectors could create an event
for the next bill, that might be a good idea ! That would require to be
able to choose the calendar too though.

Le dim. 21 août 2016 12:41, Antoine BOSSY <notifications@github.com> a
écrit :

[2016-08-21 14:53] ZeHiro commented on #456
I think i can try to do smth for this, but as i am 'mensualisé' i am not sure i have bills

[2016-08-22 05:32] AradrinCozy commented on #456
For monthly payment, the bill is every 6 month and I think most of the customers are 'mensualisés' :)

[2016-08-30 13:30] #455 closed

[2016-08-30 13:34] nicofrand commented on #192
Where do you select the date ? Maybe that feature has been removed ? I don't see it :/.

[2016-08-30 13:42] ZeHiro commented on #192
@nicofrand It was possible to select the date of the first import, in case of weekly/monthly imports. The function was removed.

[2016-08-30 13:42] #192 closed

[2016-08-30 14:04] nicofrand commented on #365
The connector seems to work fine. However the ["bad credentials" error won't be prompted](#267), maybe this is it ?

[2016-08-30 14:05] nicofrand commented on #364
The connector seems to work fine. However the ["bad credentials" error won't be prompted](#267), maybe this is it ?

Reported by mxcarron.

[2016-08-30 14:07] nicofrand commented on #365
With wrong credentials I get the same logs:

[code]

[2016-08-30 14:19] nicofrand commented on #267
For Orange, see https://github.com/cozy-labs/konnectors/blob/master/server/konnectors/orange.coffee#L109

When wrong credentials are provided, a "password: null" field is returned.
The connector should also log the error but return 'bad credentials' (`next('bad credentials')`)

[2016-08-30 14:19] ZeHiro commented on #365
The error seems here :
https://github.com/cozy-labs/konnectors/blob/master/server/konnectors/orange.coffee#L109

Here is how the organge servers answers :
- Login incorrect : { credential : null, password: 'some error message' }
- Malformed login (phone number, not an email...) : { credential : 'some error message', password: null }

[2016-08-30 15:49] #443 closed

[2016-08-31 09:01] ZeHiro commented on #365
The user reports that in fact there are several internet lines for the same account. Which is not managed correctly

[2016-08-31 09:01] ZeHiro commented on #364
The user reports that the account was imported from orange to sosh which might explain the problem.

[2016-08-31 09:51] nicofrand commented on #365
That would be hard to fix without having several lines too :(.

[2016-09-01 18:11] ZeHiro opened #461 "Konnecto for meetup.com"
As all the meetups of Cozy are annouced on this service, this would make a lot of sense

[2016-09-02 19:36] j2oo commented on #357
Yes would makes sens

[2016-09-05 09:13] nicofrand commented on #454
Seems like 0.10 was removed from tavis.yml: https://github.com/cozy-labs/konnectors/commit/3de50cabaad8c7df1acb9841253c6287c3238271

[2016-09-06 07:56] nicofrand commented on #363
The Readme now allows to specify the maintainer(s) of each konnector.
@ZeHiro, @doubleface, @Chocobozzz, could you write your name/pseudo for the konnectors your support ?

[2016-09-06 08:31] ZeHiro commented on #363
capitaine train, doctolib, free mobile, free

[2016-09-06 08:47] SomeAverageDev commented on #456
Hello,
I started to work on this a while ago. I can publish the current dev...

[2016-09-06 08:50] SomeAverageDev commented on #363
hi,
APRR and Vente-privee for me !

[2016-09-06 09:08] nicofrand opened #463 "Runabove connector missing from list"
There is a file but no connector: https://github.com/cozy-labs/konnectors/blob/master/server/konnectors/runabove.coffee

[2016-09-06 09:57] ZeHiro opened #464 "Upgrade captain train to trainline.eu"

[2016-09-06 20:43] Gara64 commented on #378
I gave a check to fix the konnector, but turns out the Ameli's website is now using generated html, so we cannot parse it as easily...

[2016-09-06 20:45] nicofrand commented on #378
What do you mean by generated ? On the client side ? If that's the case I
guess a xhr request is made to fetch the bills..

Le mar. 6 sept. 2016 22:43, Paul Tran-Van <notifications@github.com> a
écrit :

[2016-09-06 21:01] Gara64 commented on #378
Yes, as a result, I just get the javascript after a request on the bill's page. So I don't see how to retrieve the bills, except by using a phantomjs-based trick, but maybe there is a simpler way?

[2016-09-06 21:04] nicofrand commented on #378
You would have to watch the network panel in your browser devtools to see
which request fetched the data that will then be displayed by the
JavaScript.

Le mar. 6 sept. 2016 23:01, Paul Tran-Van <notifications@github.com> a
écrit :

[2016-09-07 09:52] nicofrand commented on #400
See an example of what I would like to implement : https://up.nicofrand.eu/test_svg/

We would need to be able to:

- know the dimensions of an image
- transform the image in base64

[2016-09-07 14:04] nicofrand commented on #414
Related to https://github.com/cozy-labs/konnectors/issues/375#issuecomment-234567700.

[2016-09-07 15:44] Phyks opened #465 "Online konnector does not import anything"
Hi,

Online konnector does not seem to import any bill. I am aware of https://github.com/cozy-labs/konnectors/issues/267, but my credentials should be ok (at least, they are the same that I use in the Online console page and it works there).

Konnectors log state:
[code]

Am I the only one having this issue?

Thanks

[2016-09-07 15:45] nicofrand commented on #465
Are you using 2FA on the Online.net side ?

[2016-09-07 15:47] Phyks commented on #375
Another idea, to notify the user something has broken would be to add a field to specify time to warn after last event.

Typically, if I connect my Online account, and I pay my server monthly there, I may want to know if it has been more than a month without retrieving any bill. Then, I know that there may be an error with this konnector and can check manually.

I am not sure how feasible / easy i

[2016-09-07 15:47] Phyks commented on #465
Nope, standard authentication with username / password.

[2016-09-07 15:48] Chocobozzz commented on #465
I'll check this soon.

[2016-09-07 16:00] nicofrand commented on #375
That might be another solution, but that would not detect a broken konnector the first time you launch it.

[2016-09-08 06:11] #465 closed

[2016-09-08 06:51] nicofrand commented on #363
We still need to know who maintains (or at least created so that we can ask a question if we do not understand the code) the following konnectors:

* Bouygues box
* Bouygues Mobile
* Github
* SFR box
* Jawbone
* Nest
* Withings
* Github
* Twitter
* ical feed
* Rescue time
* Google events

@clochix Could you tell us which are maintained by the cozy team please ? RescueTime at least seems to have be

[2016-09-08 10:08] Phyks commented on #375
Sure. That said, if a connector was notifying when it does not return anything at first launch and if a user could set a time after which he wants a notification if no data has been retrieved, it could help him check that konnectors work.

I agree this is not a very technical solution, but I think it would improve UX quite a lot. At the moment, I have many konnectors fetching monthly bills for ins

[2016-09-08 10:14] Phyks commented on #465
Hmmm, is there something particular to do to use the updated version of Konnector?

I did a `cozy-monitor update konnectors`, and tried to run again the Online konnector, but behavior did not change.

Thanks!

[2016-09-08 10:17] nicofrand commented on #465
Yes, you'll have to wait for the next build :).

Le jeu. 8 sept. 2016 12:14, Lucas Verney <notifications@github.com> a
écrit :

[2016-09-08 10:18] Phyks opened #468 "Github commits not imported (case-sensitive)"
Hi,

Github auth is not case-sensitive (both phyks and Phyks work in my case), although commit authors are treated in a case sensitive way. Then, if I login with "phyks" in Konnectors, I don't have any imported commits, and the following error message:

Thanks

[2016-09-08 10:23] nicofrand commented on #375
At first launch you can also launch the konnector manually and see if some bills are fetched.
Maybe it is even done by konnectors itself when you setup a monthly check, I do not know. Maybe @ZeHiro or @doubleface know ?

There already is link to open the directory in Files.

[2016-09-08 10:38] Phyks opened #469 "Github commits does not import all commits from a user"
Hi,

I ran Github commits on my user, and it imported only 147 commits. However, I have repositories with more than 200 commits, so it definitely lacked some commits.

I am not sure what it imported and the DataManager is a bit slow with that much data. I'll try to inspect it and debug further.

[2016-09-08 11:30] ZeHiro commented on #375
@nicofrand : I already do a regular check on my own konnectors. Except for doctolib, hopefully I do not have to go that much to the doctor :smile:

[2016-09-08 11:33] ZeHiro commented on #465
@Phyks : will build a new version when all the issues here are closed: https://github.com/cozy-labs/konnectors/milestone/2

[2016-09-08 11:35] nicofrand commented on #375
@ZeHiro yep, but my idea would alert the user while you correct your connector ;).
My idea would suppose that every connector using cheerio would do it that way though :(.

[2016-09-08 12:26] ZeHiro commented on #375
@nicofrand
There could be a more "disgusting" way, at least for monthly/regularly basis konnectors :
- Fetch all imported data from the db (with appropriate parameters)
- if there is already imported information and the konnector finds nothing (as all the konnector fetch all information), raise an error.

[2016-09-08 12:30] nicofrand commented on #375
Yes, but that would not work for the first-time use.
But again, both solutions can be implemented.

[2016-09-08 12:32] ZeHiro commented on #375
The problem is that sometimes for the first time use, there is nothing to import (but it is normal)

[2016-09-08 13:00] Gara64 commented on #378
Yep, my bad... I've just created #470 to fix the issue.

[2016-09-08 16:56] Phyks commented on #375
About the manual check, sure it is easy to do it manually at the moment, but providing easy access and notifications to automate the process would improve a lot the UX and give an impression of reliability I think.

Concerning the first time use, which potentially has nothing to import, if there is just a warning which is displayed, it won't impact much the behavior, and the user can do a manual c

[2016-09-08 16:58] Phyks commented on #465
Oh ok, thanks for the explanations!

[2016-09-09 10:36] #267 closed

[2016-09-11 12:00] #463 closed

[2016-09-11 12:16] nicofrand opened #475 "Check that a connector's slug matches its filename"
If the connector's slug (or the name which will be slugified) is different from the filename (without the extension), the connector is rejected and will not appear in the app view.

[2016-09-11 15:57] #468 closed

[2016-09-12 04:51] Phyks commented on #468
Tanks!

[2016-09-12 12:41] Phyks commented on #58
Most of connectors assume we have to deal with a non-cooperative service that we have to scrap and work around. But on the contrary, some services can be cooperative. Typical real-life examples would be:

* Webhooks sent by some of the common (tech) services. Think of [Github webhooks](https://developer.github.com/webhooks/) or also [Travis-CI ones](https://developer.github.com/webhooks/).
* A use

[2016-09-12 13:32] Phyks opened #477 "[CaptainTrain] Get the travel documents as well as the bills"
Hi,

It would be really cool if Konnectors could automatically keep a copy of the travel documents as well as the bills.

The `/pnrs` endpoint in CaptainTrain gives an array of `travel_document_id` among which there is the travel document as PDF and a `.pkpass` file (I think it is an Apple format for ???).

I open an issue to have feedbacks on this, but should be able to offer a PR implementing th

[2016-09-12 14:08] Phyks opened #478 "[Request] Airlines connectors"
Similar to what is done with SNCF and Trainline, it would be useful to have connectors for airlines (AirFrance, Vueling, EasyJet, RyanAir, ...).

AirFrance (/FlyingBlue) may have an API to call https://developer.airfranceklm.com/page/Reservation_API, but I did not yet figure out how to handle it.

[2016-09-12 14:37] Phyks opened #479 "Support HTTP auth for ical feeds"
Hi,

Some ical feeds are behind HTTP auth (typically ical feeds generated by exporting an Owncloud calendar).

A workaround solution is to prepend the URL: `https://USER:PASSWORD@URL`. But this means the password then appears in cleartext in the URL field in the connector settings. Adding optional fields for HTTP auth would allow a user to set a password in a "password" field type, which would be

[2016-09-13 07:47] ZeHiro commented on #479
@Phyks  Good idea, and easy to do.

[2016-09-13 07:50] ZeHiro commented on #477
@Phyks
I developped the CT konnector. I tkink it is easy to implement, although, I didn't, as I didn't see the point to import them into the Cozy, as the CT app is well done.

There is currently no docType for that, but one can be created. Could be Ticket with fields :
- type (train, cinema...)
- date
- hour (optional)
- name
- binary (link to a file)

[2016-09-13 09:04] Phyks commented on #477
@ZeHiro I see many reasons to import the ticket as well in the Cozy:

* The CT app might be really well done, it is not FOSS nor downloadable through an APK and some users may not have it (typically, I don't have the Play Store on my Android stock phone, and am getting apps through F-droid and sometimes direct APK files). For such tickets, I usually use my phone email client, which is doing fine a

[2016-09-13 11:41] ZeHiro commented on #477
@Phyks

Good points.
For now, it is not possible to select 2 folders from konnectors UI (I woudn't like my tickets to be in the same folder as bills. We need to implement this first. Then it ll be possible to implement this.
I open a new ticket for that.

For the Ical feed, as CT offers an ical feed and managing events can be a pain in this a**, i didn't want to implement this. (detect cancelled t

[2016-09-13 11:44] nicofrand commented on #477
Github has 2 connectors : 1 for the bills ans one for the commits.

Maybe the same could be done here (and maybe the second one could extend
the first one so that most of the code is shared) ?

Le mar. 13 sept. 2016 13:41, Antoine BOSSY <notifications@github.com> a
écrit :

[2016-09-13 11:45] ZeHiro commented on #477
Good idea @nicofrand

[2016-09-13 12:31] Phyks commented on #477
@ZeHiro Good point for the different folders.

Concerning the ical feed, I agree this is really helpful to use it directly. My comment was more that from a UX perspective, it is less intuitive to have to enable a first konnector for the bills, a second one for the ical feed and a third one for the tickets. Following @nicofrand idea (I think), maybe there should be a separate issue about adding "me

[2016-09-13 14:41] Phyks commented on #477
I just tried changing a train ticket, and indeed a new event was created in the calendar, but the previous one was not removed. I think ical import only does an append to the calendar, and never truncate it, so even if captaintrain maintains an up to date ical on his side, the matching calendar in cozy is not up to date.

[2016-09-13 14:45] Phyks opened #480 "[IcalImporter] Set a default reminder for imported events"
Hi,

It could be useful to be able to define an auto reminder on an imported ical feed.

Typically, captaintrain events do not have any reminder by default. It could be useful to set automagically a reminder (say 1 hour before any event added through this ical importer account).

[2016-09-15 16:11] clochix opened #481 "Error in podcast make the application crash"
Probably happening because a track in the podcast has no associated file.

``
/usr/local/cozy/apps/konnectors/node_modules/konnectors/build/server/konnectors/podcast.js:340
          throw _iteratorError4;
          ^

TypeError: Cannot read property '_id' of undefined
    at /usr/local/cozy/apps/konnectors/node_modules/konnectors/build/server/konnectors/podcast.js:114:55
    at /usr/local/cozy/ap

[2016-09-15 18:22] ZeHiro commented on #481
@babolivier

[2016-09-15 22:10] aafrey opened #482 "No Ability to import Google Contact"
I'm having some difficulty importing my Google contacts with the konnector. I'm using a self hosted (pi2) Cozy instance and when I try and setup the import there are a few issues.

Issue one:
The "Connect your Google Account" button does not trigger anything. In order to get my authorization code I had to pull the auth URL by inspecting the element with dev-tools.

Issue two:
Once I have my auth c

[2016-09-16 14:13] nicofrand commented on #482
Thanks for reporting the issue !

I can indeed reproduce the button issue, maybe the auth code input is linked…

[2016-09-16 14:14] nicofrand commented on #482
JS error in the console:

[code]

[2016-09-16 14:20] nicofrand commented on #482
Maybe fixed in https://github.com/cozy-labs/konnectors/commit/412be16d45d2d58ea110bf9ee333438be052328d, will have to test.

[2016-09-16 14:43] nicofrand commented on #482
For the iframe error, this is another issue, I will open a ticket for it.

[2016-09-16 14:46] nicofrand opened #483 "Vendor links should be opened in a new tab/window"
Following the error in https://github.com/cozy-labs/konnectors/issues/482#issue-177302373, we can see that konnectors opened the vendor link in the iframe (so, inside cozy) which threw an error since Google refuses to be read in an iframe.

Maybe we should force the link to be opened in a new window (target _blank) ?

[2016-09-16 14:47] ZeHiro commented on #483
I totally aggree. All the "external links" should open a new tab/window

[2016-09-17 09:05] ZeHiro opened #484 "Provide function to migrate a konnector config to another konnector name"
Use case :
An existing company changes name (captaintrain -> trainline)
An existing konnector is wrongly named : sncf -> voyages-sncf.com

[2016-09-17 15:23] aafrey commented on #482
Thanks @nicofrand !

[2016-09-19 07:59] #428 closed

[2016-09-19 07:59] #483 closed

[2016-09-19 08:12] nicofrand commented on #482
Fixed by https://github.com/cozy-labs/konnectors/commit/b320a1c47a30b121a5134fc571b38184f1ab5567.

You'll have to wait for the next build though.

[2016-09-19 08:12] #482 closed

[2016-09-20 06:52] #378 closed

[2016-09-21 06:47] nicofrand commented on #220
I merged it in #392.

[2016-09-21 06:47] #220 closed

[2016-09-21 11:17] #430 closed

[2016-09-21 16:09] nicofrand commented on #464
The label is already added to the list.

[2016-09-22 06:16] #454 closed

[2016-09-22 06:53] nicofrand commented on #146
That should already be the case: https://github.com/cozy-labs/konnectors/blob/master/client/app/views/konnector.coffee#L181

[2016-09-22 06:54] #124 closed

[2016-09-22 08:52] ZeHiro commented on #146
https://github.com/cozy-labs/konnectors/blob/master/client/app/views/konnector.coffee#L95

the button should have disabled=true also

[2016-09-22 09:00] nicofrand commented on #146
Yep, and no need to reparse the DOM each time, we can chain the requests: `.attr(a,b).attr(a,b)`.
I'll do it.

[2016-09-22 12:26] nicofrand commented on #481
« apparement le connecteur podcast plante sur « Débattre ! Réinventer la politique » de view-source:http://radiofrance-podcast.net/podcast09/rss_11919.xml »

[2016-09-22 14:44] clochix opened #490 "SNCF konnector makes the application crash"
Seen in a user's logs:
[code]

Temporary workaround: added inside `getEvents`
[code]

Side note: couldn't we add a `try-catch` block each time we call some method of a konnector, to prevent the whole application from crashing when there's an issue inside one konnector?

[2016-09-22 19:26] clochix commented on #490
Well, looks like folders is now an object with folder id as key.
I successfully imported the data adding the following patch:
[code]

Ping @Chocobozzz

[2016-09-23 06:46] nicofrand commented on #212
Related but not the root of the issue: looks like the fields loginUrl and token are not translated.

WARNING: Missing translation for key: "token"

[2016-09-23 08:07] Chocobozzz commented on #490
Thanks @clochix. But I can't test because I don't have SNCF orders anymore.

Since it works for you, could you make a PR with this patch?

[2016-09-23 08:53] nicofrand commented on #490
[code]

Should be enough (I tried in my browser console only but seems to work without the temp variable).

[2016-09-23 12:26] #363 closed

[2016-09-23 12:26] #146 closed

[2016-09-23 20:09] Phyks opened #492 "Birthdays without tags"
Hi,

At the moment, if one wants to import birthdays of all their contacts, they have to add a Birthdays connector for every used tag (or at least a subset of the tags that cover all the contacts). There does not seem to be a way to import birthdays for contacts without any tags.

I would have expected the tag input to act as a filter, and meaning "no filter" in case it is empty. On the contrary,

[2016-09-23 20:12] Phyks opened #493 "Feature proposal: Form validation?"
Hi,

In the current way of displaying konnectors forms, there is no feedback on the form validation to the user. Maybe there should be a standard mechanism across konnectors to display whether a connector form has been filled correctly or not.

Typically, when adding a birthday konnector and forgetting to fill the tag field, no error is displayed and the konnector is simply not enabled.

[2016-09-23 20:18] Phyks commented on #492
Actually, it does not look like a technical issue, as far as I understand the code. I am not sure how to deal with optional fields in konnector but I can write a PR otherwise.

[2016-09-23 20:25] Phyks commented on #478
So, typical airlines I am using and would be ok to work to make them appear in konnectors are:
- [ ] AirFrance
- [ ] EasyJet
- [ ] Vueling
- [ ] RyanAir

They are quite easy to handle I think, except for AirFrance. Indeed, AirFrance is having ReCaptcha on their connection form. And there does not seem to be any usable API. This is also the case on [the mobile website](https://mobile.airfrance.fr/F

[2016-09-24 08:34] ZeHiro commented on #478
It is a great idea.

[2016-09-24 10:09] nicofrand commented on #493
That would be nice indeed, thanks for opening the issue !

[2016-09-24 13:16] Phyks commented on #478
Sorry if it was confusing, "this issue" was referring to bypassing recaptcha, not the whole Github issue :)

[2016-09-25 09:36] ZeHiro commented on #478
Oh yeah ok. Is there a captcha when connecting to airfrance account,?

[2016-09-25 16:40] Phyks commented on #478
Yes captcha is needed to connect to airfrance account, both on the normal website and mobile website. :/

[2016-09-27 19:10] Phyks opened #496 "Status with respect to weboob?"
Hi,

I have just noticed [Kresus](https://github.com/bnjbvr/kresus/) makes use of [weboob](http://weboob.org/) rather than relying on custom made connectors. I don't have much experience with weboob but it seems to be fairly stable (especially since they already have a whole CI infrastructure and mechanisms to get notifications when something breaks) and they seem to have already solved part of th

[2016-09-28 07:43] ZeHiro commented on #496
@Phyks It was something we were thinking of, before the new architecture was proposed for review. Currently, the project to integrate weboob to konnectors is in stand by, as the first release of the platform won't allow to have server applications (except for the current konnectors core application). In a second time, this may happen, but this is far from now.

[2016-09-28 08:16] nono commented on #496
Hello,

nothing has been decided yet. I'm trying to convince bjnbvr to transform Kresus in a client-side app, and, if he accepts, we will find a way to use weboob in the new cozy stack for jobs. For the moment, he prefers to keep Kresus as a server-side app, because it's a lot of work to transform it, and, in that hypothesis, including weboob on the platform has a very low priority.

[2016-09-28 08:24] nicofrand commented on #496
I think using weboob for konnectors, even if the new architecture does not support kresus, would still make a lot ot sense though.

[2016-09-30 08:45] nicofrand opened #497 "SFR Mobile: error"
In the logs:

[code]

[2016-09-30 15:19] Phyks opened #498 "Bouygues konnectors are broken"
Hi,

Bouygues website has been updated (recently?) and the associated konnectors are broken now.

First of all, an extra field, the last name, is required to login to the user account, so the konnector should be extended to support this new field.

Then, after connection, the page that used to contain all the bills is now completely dynamic and data is fetched from a remote API behind authenticati

[2016-10-01 02:10] Phyks commented on #496
Update on this: I started to work on this. Current status of my work is [here]() for the weboob wrapper and [here]() for the corresponding konnector file.

Weboob wrapper should be working at the moment. Konnector is still under heavy WIP.

As discussed on #konnectors @ freenode, I have some issues with conversion between Weboob types and Cozy models. Is there a better doc than [this kind of code]

[2016-10-01 02:50] Phyks opened #500 "Dependencies incompatible with npm 3"
Hi,

I tried to run the lint tools in this repo. First, `npm install` results in "UNMET PEER DEPENDENCY":

[code]

And then, as expected, the `npm run lint` command fails:

I quickly tried to solve it, but without success :/

[2016-10-01 08:53] ZeHiro commented on #496
Phyks, fill free to add these fields to the konnectors Bill model.
the format is handled in the File docType.

[2016-10-01 09:37] nicofrand commented on #351
@SomeAverageDev Have you received any response from Vente-privée ?

[2016-10-01 17:35] SomeAverageDev commented on #351
hell no !
I was not very optimistic on this one ;-)

[2016-10-01 18:11] SomeAverageDev commented on #351
this makes me think that there should be a control on the konnector side, while we submit a PDF for downloading a bill, that the file downloaded is indeed a PDF (and not a HTML/error).

[2016-10-01 18:20] SomeAverageDev commented on #456
I committed the files [edf ](https://github.com/SomeAverageDev/konnectors/blob/sad/server/konnectors/edf.js )and [leclrecdrive](https://github.com/SomeAverageDev/konnectors/blob/sad/server/konnectors/leclercdrive.js), not sure it is usefull as they are not functional yet... And I won't work on it for now (but anyone can).

[2016-10-02 21:02] Phyks commented on #496
Ok, I included the `vat` and `currency` fields in my Konnectors fork.

* I am still not very sure to understand the way Konnectors handles files properly (especially, if pdfUrl is actually a link to a PDF file or not), and the way it handles different formats (typically, an HTML bill).
* Moving from float to decimal type would deserve an entire issue I think, I will just stick to float for the mom

[2016-10-03 09:17] ZeHiro commented on #496
pdfUrl is just the url of the file. You can use it for HTML bills also.
For HTML bills, it think it should be interesting to transform them to pdf.

[2016-10-03 15:10] Phyks opened #501 "Models migration"
Hi,

I think it would be useful to have some kind of mechanism to handle models migration, similarly to what is done when using an ORM and database migration (typically in [Laravel](https://laravel.com/docs/5.3/migrations)).

Typically, it could be useful when adding some fields to models (to fill in these new fields) or renaming some fields (typically `pdfUrl` is a confusing field name in `Bill`

[2016-10-03 15:19] Phyks opened #502 "Idea: Moving to decimal types"
Hi,

While working on Weboob integration, I noticed they are using a `Decimal` type to store the amount. This is absolutely not a priority, but maybe it would be worth for Konnectors to use such a `Decimal`representation for amounts in `Bill`, as it would reduce rounding errors, that could lead to a few cents difference between counts in Cozy and real ones.

Just noting this here, to discuss it an

[2016-10-03 15:25] ZeHiro commented on #501
Thanks @Phyks

[2016-10-03 15:38] ZeHiro commented on #502
Decimal is not a known type of javascript.

[2016-10-03 15:50] ZeHiro opened #503 "Warn the user when the password is still encrypted."
When the DS and or the proxy are restarted, but not konnectors app, the password are encrypted (it is a bug in the DS/proxy) and konnectors tries to fetch data using the encrypted password as the real password. This leads to a fetch error.
This should be prevented (see how Kresus manages that), and a notification shall be raised.

Furthermore, it seems the "error" notification is deleted, which is

[2016-10-03 15:59] Phyks commented on #392
- [ ] Describe what is a "model" and where it is defined / how to be able to use it in other apps / what are the available fields etc

(Will try to handle it in my upcoming wiki PR)

[2016-10-03 16:12] Phyks commented on #496
Ok :) Transforming them from HTML to PDF might not be that easy though :/

[2016-10-03 17:02] ZeHiro commented on #475
https://github.com/cozy-labs/konnectors/blob/master/server/lib/base_konnector.js#L21

When using base_konnector, the slug is set based on the name provided inside the connector

[2016-10-03 17:07] nicofrand commented on #475
Yep but the filename has to match it

Le lun. 3 oct. 2016 19:02, Antoine BOSSY <notifications@github.com> a
écrit :

[2016-10-03 17:53] Phyks commented on #502
By "decimal", I meant an arbitrary precision type. For instance, storing the amount as a string, or using a third party library such as [decimal.js](https://github.com/MikeMcl/decimal.js) to support arbitrary precision numbers.

[2016-10-03 18:30] ZeHiro opened #504 "Error notifications are not well handled"
They tend to disappear.

[2016-10-03 18:32] ZeHiro commented on #504
At least a bug is found here :
https://github.com/cozy-labs/konnectors/blob/master/server/lib/notification_handler.coffee#L25

From there, the code shall have an extra tab. Can you confirm @nicofrand ?
But this is not the cause of the bug.

[2016-10-03 18:40] nicofrand commented on #504
I don't see the issue here ? The build seems OK to me: https://github.com/cozy-labs/konnectors/blob/master/build/server/lib/notification_handler.js

[2016-10-03 18:41] ZeHiro commented on #504
Shouldn't there be one notification by account? and the for should apply to all of the following code?

[2016-10-03 19:31] ZeHiro opened #506 "Test pass even if the application cannot be built"
It happens at least if a locale file is wrong: quote mark (" or ') not closed

[2016-10-03 21:21] Phyks commented on #392
@nicofrand I started to tackle some of the points mentionned above on [my fork of the wiki](https://github.com/Phyks/konnectors/wiki):

[2016-10-04 05:55] nicofrand commented on #504
Oops, indeed, you're right.

[2016-10-04 06:00] nicofrand commented on #392
I'll take a look at it, but given the current state of the wiki I guess you could edit it directly ;).

That's a mess, I am not sure editing the wiki before #400 would be worth it

The slugs are currently used for the icons sprites too…

[2016-10-04 06:37] nicofrand commented on #500
I had some warnings but that's all…
Which version of npm do you have ? I guess 3+ ?

[2016-10-04 12:55] Phyks commented on #500
Indeed, I am using [npm 3.10.8](https://www.archlinux.org/packages/community/any/npm/) :/

I tried to manually install the required modules and was willing to push an updated package.json but, it is not working:

[2016-10-04 14:39] Phyks commented on #392
Ok, so I leave them aside for the moment. Thanks for the link to #400 :)

[2016-10-07 01:21] Phyks commented on #392
- [ ] Reading at the current wiki and source code, it seems that some `entries` fields are kind of normalized and it may be a good idea to add doc about it. These seems to be:
* `entries.fetched` for fetched entries.
* `entries.filtered` for filtered entries.

Any more ?

[2016-10-07 14:24] nicofrand commented on #351
@SomeAverageDev I just tried to fetch my bills, and the connector only downloaded the last one, but even this only bill was corrupted. Maybe we could restore the previous behaviour which sometimes worked :D ?

[2016-10-07 14:39] nicofrand commented on #351
Actually not sure the connector works at all.
Here is what I receive:

[code]

[2016-10-07 17:24] SomeAverageDev commented on #351
it looks like they changed something...
I will check
there really need to have a document/mime type check on konnector while it downloads a document from an URL.

[2016-10-07 18:53] SomeAverageDev commented on #351
I really don't understand, the URL is good, but with konnector, there is a redirection to the login form...

[2016-10-07 18:58] nicofrand commented on #351
Yep, the user-agent seems ok though

Le ven. 7 oct. 2016 20:53, SAD <notifications@github.com> a écrit :

[2016-10-07 20:02] SomeAverageDev commented on #351
Ok I found something,
when the konnector works (usually the first time), the headers are as below

`            "search": "?orderId=12770000",
            "query": "orderId=12770000",
            "pathname": "/memberaccount/order/invoice",
            "path": "/memberaccount/order/invoice?orderId=12770000",
            "href": "https://secure.fr.vente-privee.com/memberaccount/order/invoice?orderId

[2016-10-08 19:22] ZeHiro commented on #351
Theres is an error here in the konnector :

https://github.com/cozy-labs/konnectors/blob/master/server/konnectors/vente_privee.js#L241

The connector should not `return next()`
Same here :
https://github.com/cozy-labs/konnectors/blob/master/server/konnectors/vente_privee.js#L233

Calling next() will go to the next step in the table of functions (before all the bills are fetched) , and at the end g

[2016-10-08 20:19] SomeAverageDev commented on #351
looks like it's the issue...

[2016-10-09 17:56] ZeHiro commented on #351
Closed by #508

[2016-10-09 17:56] #351 closed

[2016-10-13 09:37] nicofrand commented on #392
@Phyks I think you now have enough knowledge to directly edit the "official" wiki, and your current version looks good to me.

Could you replace the "TODO" by something like

and replace the current wiki by yours ?

@ZeHiro, @doubleface, @nono Would you be OK with that ?

[2016-10-13 09:49] nono commented on #392
:+1:

[2016-10-13 10:02] #497 closed

[2016-10-13 10:05] ZeHiro commented on #392
Yep

[2016-10-13 13:37] ZeHiro opened #511 "Labels are not translated"
The labels of the bills should be in the user language (at the moment of the import).

[2016-10-13 14:59] Phyks commented on #392
I did the update to replace TODOs on my forked wiki.

OK to merge it with this one and continue updating on the main one. However, if I am to merge it myself, I have to edit each page separately as I cannot git push to the wiki.

Would it be possible be possible to git clone my forked wiki locally and git push it to this main wiki?

Thanks

[2016-10-13 15:22] nono commented on #392
@Phyks it's done. Thanks for your contributions!

[2016-10-13 15:27] nicofrand commented on #392
Really nice work @Phyks, thank you !

[2016-10-13 16:29] Phyks commented on #392
Thanks! I'll try to update further the wiki while binding my cozyweboob script to konnectors.

[2016-10-13 19:30] Phyks opened #512 "Dev tools giving some undefined in error messages"
Hi,

In [this function](https://github.com/cozy-labs/konnectors/blob/master/dev/connector.coffee#L23) I think it should be the connector name rather than the connector object that should be passed to the logged string.

Actually,

[code]

which could be better without the "undefined" :)

[2016-10-14 07:03] ZeHiro opened #514 "add --list option to the dev tools"
This allows to get the slug of the konnectors.

[2016-10-14 14:25] Phyks commented on #514
Just a note to remind to update the [wiki page](https://github.com/cozy-labs/konnectors/wiki/Use-the-dev-tools-to-make-the-development-easier).

[2016-10-14 14:32] ZeHiro opened #515 "dev_tools does not display the fields of a konnector"
As the connector.display function displays only the content of the DB, the result of --show will always show :
[code]

There is also a typo here :
https://github.com/cozy-labs/konnectors/blob/23c8e3ef4354ef94e876e296695702df3a6a5fbc/server/models/konnector.coffee#L73

[2016-10-14 21:01] ZeHiro opened #516 "Virgin mobile konnector slug and name file mismatch"
The name of the konnector is then not well diplayed

[2016-10-14 21:02] #512 closed

[2016-10-14 21:02] #514 closed

[2016-10-14 21:02] #515 closed

[2016-10-14 22:55] ZeHiro opened #517 "dev tools should not create the konnectors if they exist in the DB"
If the dev_Tools are used with a cozy-dev backend

[2016-10-15 11:58] ZeHiro opened #519 "Missing explicit return on callbacks"
[code]

[2016-10-18 08:10] ZeHiro opened #522 "greenkeeper does not update client dependencies"

[2016-10-18 08:44] ZeHiro opened #523 "build script should clean server folder as well."
Use case: when a name of konnector is changed, the file is kept in the build folder, and the konnector could be created several times with different names.

[2016-10-18 10:53] #516 closed

[2016-10-18 10:53] #484 closed

[2016-10-18 12:49] #421 closed

[2016-10-18 12:49] #437 closed

[2016-10-18 12:49] #475 closed

[2016-10-18 13:00] ZeHiro commented on #523
Closed by #526

[2016-10-18 13:00] #523 closed

[2016-10-18 14:16] ZeHiro commented on #212
https://github.com/cozy-labs/konnectors/blob/master/client/app/realtime.coffee#L27
Realtime Should also update konnector fields

[2016-10-18 14:45] ZeHiro commented on #212
+ the translation for hidden inputs shouldn't be done

[2016-10-18 14:49] ZeHiro opened #527 "Add tests for missing translation keys for fields"
if field is not password or login, some translation keys could be missing. Ex: loginUrl of OVH

[2016-10-18 15:44] ZeHiro opened #528 "Google contacts import does not work."
Browser console.

WARNING: Missing translation for key: "refreshToken"vendor.js:1:228214
SyntaxError: unterminated string literal[Learn More]

 Looks like the translation/customFields are corrpted

[2016-10-19 06:58] ZeHiro commented on #493
When implementing such a feature, we should take care of allowed empty fields. For exemple ovh and google contacts use elpty fields (and hidden). By default only hidden fields should be allowed empty. We shouldn't rely on konnectors.fields as some fields can be changed from hidden to text by js in customfields.

[2016-10-19 07:01] ZeHiro commented on #219
Since multiple accounts are implemented, this issue is closed.

[2016-10-19 07:01] #219 closed

[2016-10-19 07:21] ZeHiro opened #530 "wrong management of last konnector deletion"
When deleting last account of a konnector, the saved data is just an empty form/default form, instead of `[{}]`. eg OVH CA :
[code]

[2016-10-19 08:06] ZeHiro commented on #530
Should we call `onDeleteClicked` ?

[2016-10-19 08:10] ZeHiro commented on #511
We should also migrate existing labels.

[2016-10-19 08:14] ZeHiro commented on #490
@nicofrand can we close this issue?

[2016-10-19 08:21] ZeHiro commented on #400
@kelukelu maybe you could help us on that?

[2016-10-19 08:28] nicofrand commented on #490
Yep

[2016-10-19 08:28] #490 closed

[2016-10-19 08:33] nicofrand commented on #511
Not sure about that. Translating the label is kind of weird, if the user changes his language in the cozy platform he will have different labels for a same type of connector.

If the user finds it weird to have an english label, maybe the solution is not there:

* Maybe the user should be able to choose his own label for each connector (or even account) : probably the best solution
* Maybe the use

[2016-10-19 09:17] m4dz commented on #400
Hi there!

We are thinking on how to revamp the build system and the client-side architecture. I've just made a [PR with this doc](https://github.com/cozy-labs/konnectors/pull/531/files#diff-1edf711e5468c5b76de4af01de431bad).

We'll move the build tool to Webpack, as for other Cozy's apps, and the SVG sprites is properly handled with a dedicated loader (so, it's on our roadmap :)).

[2016-10-19 15:49] clochix commented on #106
Another user is reporting this issue (by email)

[2016-10-19 17:23] ZeHiro commented on #106
I think we should just delete the links.

[2016-10-20 09:02] nicofrand commented on #106
I agree

[2016-10-20 09:14] nicofrand opened #532 "Groupama connector"
It would be nice to have connector for Groupama that fetches the bills and the certifications.

[2016-10-20 09:31] ZeHiro opened #533 "Migrate server to plain JS (ECMAC 6?)"

[2016-10-20 12:01] ZeHiro commented on #519
This can cause a lot of problems with callbacks being called several times.

[2016-10-20 13:10] #527 closed

[2016-10-20 13:10] #528 closed

[2016-10-20 14:08] ZeHiro commented on #461
meetup.com already provides a ical feed. Maybe we could just extend the ical feed parser?

[2016-10-20 14:39] nicofrand commented on #461
That makes sense yeah.
How do you access the ical feed ? You need to login first and then you got the link to the feed ?

[2016-10-20 14:41] ZeHiro commented on #461
well, the feed is not protected. But you can access it by connecting to the service, quite easily i think.

[2016-10-20 14:48] nicofrand commented on #461
Then what is the need for a special connector ?
Only retrieve all the ical feeds of each meetup you subscribed to ?

[2016-10-20 14:50] ZeHiro commented on #477
@Phyks I think I can quite easily include the captain train in the captain_train konnctor, using the ical_feed connector. I'll let you know if I need tests.

[2016-10-20 14:51] ZeHiro commented on #461
In fact it is quite hidden. And this could be a nice PoC :)

[2016-10-21 13:13] ZeHiro opened #536 "Allow to save 'fields' content server side"
Some konnectors need to save information server-side, which are necessary to correctly fetch data (tokens for exemple).
Currently each konnector saves the appropriate data its own, this should be done by the stack.
Konnector needing this :
- Google contacts
- Facebook events
- Meetup could use such a function to avoid reconnect each time to meetup as the ical url is public. The url could be saved

[2016-10-22 09:37] ZeHiro opened #539 "Prevent a n error in a konnector to crash the whole application"
It happens often that a miswritten konnector raises an error which makes the whole application crash. This is not an acceptable behaviour. The konnector.fetch call should be insulated in a try/catch

[2016-10-22 14:22] ZeHiro commented on #539
konnector.fetch should first be promissified.

[2016-10-22 14:25] ZeHiro commented on #506
As the locale files are now included to tests, this won't happen again on these files. Other files are linted, such an error would be caught by the linter, this is now closed.

[2016-10-22 14:25] #506 closed

[2016-10-23 17:28] ZeHiro opened #541 "Google contacts only support one account"

[2016-10-24 06:23] #212 closed

[2016-10-24 06:25] #503 closed

[2016-10-24 08:35] ZeHiro opened #542 "Impossible to sroll on the mobile version"
When there are several accounts it is impossible to validate the form.

[2016-10-24 09:11] nicofrand commented on #542
Needs some further tests but this should fix it:

[code]

[2016-10-24 15:03] Phyks commented on #477
Awesome! :)

[2016-10-24 19:29] #542 closed

[2016-10-24 19:44] #461 closed

[2016-10-24 20:19] Phyks commented on #400
Why not forcing the user to put moving konnectors to subfolders (that is have a tree like "konnectors/MyKonnector/{MyKonnector.js, ...}" and expect the dev to put a "icon.svg" or "{slugified_name}.svg" with a given canvas size in this folder?

Then, writing a Node script to fetch all the available SVG files (and use a default file if none is found for a given Konnector) and concatening them all at

[2016-10-25 12:19] m4dz commented on #400
I think we need to clarify for which use we need to build a sprite. @nicofrand what have you I mind originally? Is it for services logos, or for Ui icons (buttons, etc)?

[2016-10-25 12:23] nicofrand commented on #400
For websites (materiel.net, sncf, etc.). And I had the same idea than Phyks (although we could keep the icons in a separate directory)

[2016-10-25 12:25] ZeHiro commented on #400
well if the konnector is completely separated, the imbage should be in the konnector script/bundle.

[2016-10-25 19:06] Phyks opened #544 "Europresse konnector"
Not sure if this is very common, but most institutions with a library (typically universities) seems to be providing a Europresse access to download PDF files of many newspapers (typically Le Monde).

The website is quite awful and offers only single page PDF (that is around 23 different PDF files for latest edition of Le Monde).

Having a connector to automatically fetch it everyday, store it in

[2016-10-26 08:57] m4dz commented on #400
OK, I understand. My main problem with the sprite solution is that we can't be sure that all images (aka logos) will always be available in an SVG format. So what if we only have a PNG? The other way is to rely on an old type of bitmap sprite containing all logos, but it won't be a really good solution for images scaling (particularly in a responsive mode).

A third solution can be to serve each i

[2016-10-26 09:02] nicofrand commented on #400
If you build a SVG sprite with PNG icons embedded in base64 format and SVG icons as … SVG, that should be fine ?

[2016-10-26 13:52] m4dz commented on #400
Fine, but ugly. But fine :)

[2016-10-26 13:52] nicofrand commented on #400
Not that ugly…

[2016-10-26 13:53] Phyks commented on #400
Something is quite unclear for me. Why could not we serve a "static" folder directly, rather than having to add a route for each and every icon?

[2016-10-26 13:59] m4dz commented on #400
Yeah, not *that* ugly, but embedding rwsterized images in SVG isn't very fair, as we expect the SVG elemens and sprites to be vectorials. But indeed, it can be a sustainable solution if icons in bitmap format are some exception.

Here, it's more about the stack v2 as mentioned by @nono in #531: I don't know if the stack would be able to serve some arbitrary static content, nor if it's a reasonnabl

[2016-10-26 14:06] Phyks commented on #400
Sorry, I missed it in #531 I think. What I am used to when writing such routers is to basically have a "/static" directory somewhere, containing all the static files to be served and serve this whole folder as an endpoint.

Typically, we could have `/static/konnectors/KONNECTOR_NAME.{svg,png}` files and just serve `/static/<:path>` endpoint? (What I have in mind is somewhat similar to [what is don

[2016-10-26 14:10] m4dz commented on #400
Yep, I have something similar in mind with Django and its `collectstatic` command :)

I let @nono reply to it, he probably has some good solution about this one, maybe using the File service API as described in https://github.com/cozy/cozy-stack/blob/master/docs/architecture.md

[2016-10-26 14:13] Phyks commented on #400
Ok :) To sum up, options for now seems to be:

* Build a sprite at build time as should be done right now and serve this unique sprite.
* Use a `collectstatic`-like mechanism and serve all static files in a given folder.
* Put base64 encoded icons in the config JSON.

[2016-10-26 14:16] ZeHiro commented on #400
As the konnectors and apps will be in different repo, serving one icon per konnector could be interesting (no sprite build to be done in any repo). Or have a simple way to provide a new sprite

[2016-10-26 14:16] nono commented on #400
The stack will be able to do that.

[2016-10-26 18:50] Phyks opened #547 "Dev tools"
Hi,

Just to sum up and centralize somewhere the status of dev tools and the documentation.
- [ ] [In the wiki](https://github.com/cozy-labs/konnectors/wiki/Use-the-dev-tools-to-make-the-development-easier) we should not use `freemobile` connector as it imports `PhoneBill` which is hardcoded in the module and does not allow the dev tools to show them. We should either use another konnector or fix

[2016-10-26 18:54] Phyks commented on #400
After discussing with @m4dz on IRC, it seems passing icons in JSON config file directly could be a sensible option. Indeed, images are quite small, and most of them will be SVG files, so there should not be much overhead in passing them as data URI in the JSON config file. Moreover, it should be nicely gzipped. It would also limit the number of requests to be made as icons will always be fetched.

[2016-10-26 19:02] Phyks commented on #547
Last point fixed in commit listed above.

[2016-10-26 19:08] Phyks commented on #547
-[ ] Dev tools do not check that provided fields in a `--change` commands are indeed valid fields for this konnector.

[2016-10-26 19:46] m4dz commented on #400
@Phyks 😚 👌

[2016-10-27 14:02] Phyks commented on #533
There should also be some lint strategy for the JS code I think, if Konnectors is to move to plain JS. Currently, only Coffee code is linted with coding style enforced.

[2016-10-27 14:12] ZeHiro commented on #533
Hmm no. Js also has a linter eslint.

[2016-10-27 14:21] Phyks commented on #533
Sure, I was thinking about eslint. And indeed, it is set up at the moment in Konnectors. Sorry for the noise, I got confused by the Travis build which stops on first error and only linted Coffee then :/

[2016-10-27 14:24] Phyks opened #553 "Support konnectors to be a folder package"
Hi,

It would be useful to be able to define a konnector as a folder with an `index.js` file exporting the right things.

Typical use case is my [Weboob PR](https://github.com/cozy-labs/konnectors/pull/548). This connector will be quite large, especially since I have to write translators between every Cozy models and Weboob types. It would be much more readable if I could do something like:

[code

[2016-10-27 14:37] ZeHiro commented on #533
No prob. :)

[2016-10-27 19:46] eravion commented on #498
Hello,

Konnector logs looks ok, but no bills are downloaded :
[2016-10-27 20:43:16:820] info - Bouygues Telecom | Successfully logged in.
[2016-10-27 20:43:17:42] info - Bouygues Telecom | Download bill HTML page...
[2016-10-27 20:43:17:610] info - Bouygues Telecom | Bill page downloaded.
[2016-10-27 20:43:17:616] info - Bouygues Telecom | Bill data parsed.
[2016-10-27 20:43:17:648] info - Bouygu

[2016-10-27 21:00] ZeHiro commented on #498
@eravion looks like the page where the bills are displayed have evolved...

[2016-10-27 23:20] doubleface commented on #498
Actually, this  konnector still works for me. I removed all the bills from files and rerun the bouyguestelecom konnector and the bills came back.

[2016-10-28 08:44] eravion commented on #498
Sorry not working for me.
@doubleface : Are you downloading Mobile bills ? I tried to change the folder by adding a new one and it is not working. I also tried to remove from original folder old bill, it is nok too.

[2016-10-28 09:13] doubleface commented on #498
Yes it is mobile billd. But I just saw that the Bouygues box konnector does not work. Some code in it did not evolve with the mobile one and the back end is the same.

But this will not solve your problem.

[2016-10-28 13:12] Phyks commented on #498
Same, am using the "box" connector. Mobile connector may work, but won't fetch internet bills :/

[2016-10-28 13:16] ZeHiro commented on #498
@Phyks As the client is currently being rewritten, adding new inputs does not seem 'a good idea', furthermore, this would mean displaying 2 folders to the user. Having bouygues konnector called by bouygues tel and bouygues internet would be easier I think.

[2016-10-28 13:25] Phyks commented on #498
@ZeHiro I was just thinking in adding another [field](https://github.com/cozy-labs/konnectors/blob/master/server/konnectors/bouyguestelecom.coffee#L43) actually, but I got your point.

Anyways, not sure this is the best issue to discuss this UI issue, but I can remember it already appeared in another issue, and might as well be closely related to Weboob integration.

[2016-10-28 13:46] ZeHiro opened #556 "Move generic connectors to konnectors/libs"
ovh base connectors and other "pure connector-related" libs are currently in serveR/libs/
they should be insolated from the rest of libraries, as they are not fully part of the server stack

[2016-10-28 14:34] nicofrand opened #557 "Undefined attribute on login fields"
When using the browser devtools element inspector on a connector's login field we can see an "undefined" attribute.

[2016-10-28 14:41] nicofrand commented on #557
https://github.com/cozy-labs/konnectors/blob/master/client/app/views/konnector.coffee#L301
https://github.com/cozy-labs/konnectors/blob/master/client/app/views/konnector.coffee#L235

[2016-10-28 18:38] Phyks commented on #533
Related to this, there seems to be an issue with ES6 and the dev tools:

[code]

I tried to fix it, without success for the moment :/

[2016-10-31 18:13] Phyks commented on #547
- [ ] Dev tools do not go to `build` folder to get Konnectors, then preventing from using ES6 syntax.

[2016-10-31 21:16] Phyks commented on #553
https://github.com/cozy-labs/konnectors/pull/548/commits/167ba6712336774bd89d8b74e3e41970152ddb65 should support it (with some previous commits in the same PR). At least, it is working for my weboob module. Sorry for the horrible git tree :/ I should rework this.

[2016-10-31 21:18] Phyks commented on #547
https://github.com/cozy-labs/konnectors/pull/548/commits/167ba6712336774bd89d8b74e3e41970152ddb65 supports konnectors with ES6 syntax. I will put it in a separate PR.

[2016-10-31 21:22] Phyks commented on #547
The list issue was that at some point I had a "null" Konnector created, due to some error most likely. It is no longer the case, and manually removing it from CouchDB solves the issue.

Vendor is simply not an attribute of the Konnector model, so no reason at all to list it there. This will also be in the upcoming separate PR.

[2016-11-01 18:11] Phyks commented on #547
- [ ] Does a call to `--delete bill` delete both the `Bill` and the downloaded files?

[2016-11-01 18:46] Phyks commented on #547
- [ ]
[code]

[2016-11-02 01:52] Phyks commented on #480
I was about to implement it, but something is unclear in the current issue. iCalendar format may have alarms already defined as `VALARM` tags inside a `VEVENT`.

If a calendar already has some `VALARM`s, what behavior should the iCalImporter follow?

* Keep the alarms as is, and add the default alarm on event without alarms in the ical feed?
* Replace everything and set the default alarm on every

[2016-11-02 01:55] Phyks commented on #556
Should they be in `konnectors/libs` (which will pose issues with #553) or isn't it better that they are entirely separated package, published on NPM and loaded here, as [ovh](https://www.npmjs.com/package/ovh) is already at the moment?

[2016-11-02 01:57] Phyks commented on #533
Issue mentionned above should be fixed in https://github.com/cozy-labs/konnectors/pull/560.

Fwiw, I used [Decaffeinate](https://github.com/decaffeinate/decaffeinate) while writing this PR and it gave really impressive results.

[2016-11-02 02:07] Phyks commented on #392
- [x] Tell to use connector.logger instead of creating a new one (see base konnector)
- [x] Explain how to analyze a webpage with Firefox inspector and network traffic analyzer.
- [x] Explain what to look for in a target webpage.
- [x] Give guidelines to promote the new konnector.
- [x] Explain how to use dev tools.

is waiting for #400

[2016-11-02 02:14] Phyks commented on #388
Two bills for the same day can happen pretty often with Freemobile for instance. If you pay special numbers, you will be charged twice at the end of the month, once for your plan (typically 2€) and another one for what you spent out of your plan.

[2016-11-02 08:50] ZeHiro commented on #556
This is won't interfere with #553. The regular connector will just have to "require(./libs/my_generic_konnector)". The plateform will have to manage the case where it cannot require the a folder or ignore the "libs" directory.
The seperate npm package for OVH is provided by OVH itself, and not by konnectors.

[2016-11-02 08:52] nicofrand commented on #392
Thanks Phyks !

[2016-11-02 08:55] #492 closed

[2016-11-02 15:40] Phyks opened #566 "iCalFeed does not do deduplication correctly"
Hi,

On the following minimal iCalendar file:

[code]
deduplication is not working and a new event is created at each import.

Looks similar to https://github.com/cozy-labs/konnectors/issues/235 but imported events look weird in the Databrowser:
<img width="1670" alt="capture d ecran 2016-11-02 a 11 44 28" src="https://cloud.githubusercontent.com/assets/3856586/19935836/d4b00e6a-a0f1-11e6-907d-030

[2016-11-02 15:58] ZeHiro commented on #566
The problem here is the fact that the caldavuri is changed by the provider. We could add a more "dirty way" to do that (bydate etc)

[2016-11-02 17:03] Phyks commented on #566
Indeed. There are also some others problems in the picture, although they are minor ones:
* first line is nonsense.
* created (and uid, not sure if it matters) are not set

I tried to track the `caldavuri` origin, but without success for now.

[2016-11-02 17:20] Phyks commented on #231
Hmm, the example file is no longer available. Has anyone another such ICS example at hand?

[2016-11-02 17:31] Phyks commented on #566
Ok, problem is that my initial feed does not have a `UID` set on the `VEVENT`. This should not be valid according to [this doc](http://www.kanzaki.com/docs/ical/uid.html). Not sure then, if we want to support such feeds?

Still, my events get a `caldavuri`, which should be the `uid`. As `uid` is missing, I am not sure where they get this from.

[2016-11-02 17:57] Phyks opened #569 "Per account fetch frequency"
Hi,

It could be useful to have a fetch frequency defined per account rather than globally. Typically, for some connectors with multiple accounts, I may use an account more often than another one and not need it to be fetched very often.

A real life example I have in mind is for the iCal_feed connector. I may have an iCalendar storing monthly meetups, and another storing some meetings in a compan

[2016-11-03 10:49] #500 closed

[2016-11-03 13:42] clochix commented on #231
You may try to host an ics file on one of your server and configure the Web server to set the `content-disposition: attachment` header. For example, [on Apache](http://serverfault.com/a/101966).

[2016-11-03 15:52] Phyks opened #575 "Generalize save_data_and_file"
Hi,

`saveDataAndFile` function seems to be pretty generic, however there are some hardcoded things in it which makes me think it was originally designed to only handle `Bill` model.

Two ideas about it:
* Why not generalize it even more, to be able to handle any models and clearly state it in the doc (and use it everywhere)?
* Why not splitting it in a `saveData` function and a `saveDataAndFile`

[2016-11-03 16:17] Phyks commented on #231
@clochix I guess [this URL](http://pub.phyks.me/tmp/test.ics) should be correctly configured? I have:
[code]
in the response.

However, import works perfectly fine with the latest `master` branch.

[2016-11-04 00:47] Phyks commented on #235
@ZeHiro do you have an example of such event? (Ideally a fraction of the ics file)

I tried with my own captain train ics file, but cannot reproduce :/

[2016-11-04 00:48] #566 closed

[2016-11-04 00:57] Phyks commented on #392
- [ ] Say something about localization

[2016-11-05 09:51] #547 closed

[2016-11-05 09:51] #553 closed

[2016-11-05 16:03] Phyks commented on #392
- [ ] [In the wiki](https://github.com/cozy-labs/konnectors/wiki/Use-the-dev-tools-to-make-the-development-easier) we should not use `freemobile` connector as it imports `PhoneBill` which is hardcoded in the module and does not allow the dev tools to show them. We should either use another konnector or fix `freemobile`.

[2016-11-07 14:31] clochix commented on #231
Pinging @EtienneM: the ical feed you were unable to import is not available anymore, and it seems that this kind of import now works.

[2016-11-08 21:08] Phyks commented on #575
Note: Same stands for `filterExisting`. I will most likely need them for https://github.com/cozy-labs/konnectors/pull/548, I can try to have a look.

[2016-11-12 07:16] sylvaindeloux opened #581 "SVG icon is broken"
The SVG icon file `/api/applications/konnectors.svg` is found, but not valid.

![capture d ecran 3](https://cloud.githubusercontent.com/assets/517622/20236292/fd246394-a8af-11e6-844f-8d907848e844.png)

[2016-11-12 22:32] Phyks opened #582 "Broader possibilities for fields description"
Hi,

It would be useful to be have more possibilities to define a field, typically to add extra attributes to it.

Typical example of things one might like to be able to do are:
* Using a `float` input type. This would only require being able to set arbitrary extra parameters to the corresponding `input` field. Supporting
[code]
would be enough.

* Supporting boolean inputs (typically, checkbox).

[2016-11-13 00:39] Phyks commented on #469
From https://developer.github.com/v3/activity/events/,

So this is an actual limitation of the Github API.

Solution is to [browse every repo the user contributed to](http://stackoverflow.com/a/26364504).

https://github.com/philschatz/octokat.js might be of interest

[2016-11-17 19:57] Phyks opened #584 "Online konnector is broken"
Hi,

After upgrade to 0.7.4, it seems that Online konnector is heavily broken.

I have these messages in the log:

[code]

And a lot of
[code]

[2016-11-24 08:35] snyk-community opened #594 "High severity vulnerability affecting this repo"
Hi there,

We noticed that your repo has a high severity vulnerability:
* [Regular Expression Denial of Service](https://snyk.io/vuln/npm:negotiator:20160616?utm_source=gh_issue)
* Affected package: `negotiator` <= 0.6.0

[Here is the test report for this repo](https://snyk.io/test/github/cozy-labs/konnectors).
If you’d like to fix this vulnerability, Snyk lets you generate a pull request that rec

[2016-11-27 12:29] ZeHiro opened #598 "Magic Folder does not work"
@m4dz :
the folder not created
the folder always selected even if another folder is selected.

Currently this is not usable as such.

[2016-11-27 13:30] ZeHiro commented on #598
and using the slug to create th folder is not really smart as in some cases, the slug is 'dirty' compared to the name of the provider.

[2016-11-27 17:55] #373 closed

[2016-11-28 20:16] m4dz commented on #598
Hi @ZeHiro !

#602 fix the issue with the select value w/ the magic folder. I invoke @poupotte about the use of konnector name instead of the slug for the folder name :)

[2016-11-29 16:51] nicofrand opened #604 "Wrong credentials do not throw error for the Materiel.net connector"
The log say 0 bills were retrieved but the user is not warned the credentials are incorrect.

[2016-11-29 16:59] nicofrand commented on #604
After 3 tries, a captcha is displayed on materiel.net website.

[2016-12-01 08:50] ZeHiro opened #608 "Refetch credentials on automatic poll"
So that the user does not have to restart konnectors each time the plateform is restarted

[2016-12-01 14:19] ZeHiro opened #609 "Ameli konnector"
Custom field (bank_identifier) is required

[2016-12-01 14:24] ZeHiro commented on #609
Update the label of bank_identifier (name less)

[2016-12-02 15:33] Darcidride commented on #609
Thank you for opening this issue for me :)

[2016-12-02 15:39] Darcidride opened #611 "Meetup konnector"
Actually the konnector takes the only "accepted" events, so it's not really interresting since we can't be totally disconnected from the meetup mail spamming or the application android/iOS or website to know the futures events.

The Meetup's API grant us the possibility to get many informations from an account ID, like the full list of future events (accepted or not), have a try at this :

https:/

[2016-12-02 17:25] ZeHiro opened #612 "Inconsistancy"
Init script should use proper konnector_hash

https://github.com/cozy-labs/konnectors/blob/master/server/lib/konnector_hash.coffee

https://github.com/cozy-labs/konnectors/blob/master/server/init/konnectors.coffee#L134-L137

[2016-12-03 01:20] Phyks opened #613 "UI issue when adding and removing accounts"
Hi,

* Open a konnector panel, fill in the fields.
* Click "Add an account", you have two accounts, one with the fields filled in, one with empty fields
* Click "Remove last account", the first one (with the filled fields) is removed, and there is only the one with the empty fields remaining.

I would have expected the "last account" to be the "last added one", at the bottom of the page, and then

[2016-12-03 09:11] ZeHiro commented on #613
We are definitly on a 'won't fix' here. New client will be released by the end of december.

[2016-12-03 09:36] Phyks commented on #613
Sure, NP.

[2016-12-03 09:36] #613 closed

[2016-12-15 18:24] Zykino opened #629 "EDF link to 404"
https://particulier.edf.fr/fr is a 404
Maybe use https://particulier.edf.fr/fr/accueil/contrat-et-conso/mon-compte-edf.html instead, or the home page.

[2016-12-15 18:29] #456 closed

[2016-12-15 21:46] Darcidride commented on #371
Hi,

I've a EU SoYouStart account, so I generated a key for Cozy, but im a little afraid about the informations you need, can you confirm me there are no danger to give you this informations ?

The two following informations you need afraid me :
- appKey: 'XXX'
- appSecret: 'XXX'

Here is the full API : https://eu.api.soyoustart.com/console/#/

[2016-12-17 19:11] jacquarg opened #631 "Orange Bill: pdf is not valid"
Problem encountered by one user here : http://mesinfos.fing.org/forum/d/12-pb-affichage-factures-orange

It seems like the downloaded pdf of the bills are not valid pdf, and aren't readable.

Actually, personally, I haven't any Orange account, so I can't check this my self.

[2016-12-19 14:47] clochix commented on #631
For the record, files are in fact HTML pages, saying that “Votre facture n’est pas encore disponible. Veuillez réessayer ultérieurement.”

[2016-12-22 13:32] clochix opened #633 "[Konnector idea] import remote file throught scp"
This would allow to periodically import into Cozy a remote backup.

Shouldn't be hard using something like [scp2](https://www.npmjs.com/package/scp2)

[2016-12-24 20:51] clochix opened #635 "[MAIF] no token in body"
A user reports that the MAIF konnector doesn't work.
Here are the logs:
[code]

Ping @jacquarg

[2016-12-29 09:51] jacquarg commented on #635
Thanks @clochix, strange...
Do you know if the user is self hosted ?

[2016-12-29 10:01] jacquarg commented on #536
👍

[2016-12-29 11:36] clochix commented on #635
Two participants of the MesInfos experiment have the same behavior, on ours servers.

[2016-12-30 14:30] clochix commented on #631
Checked again a few days later: most of the files (not all) are now valid.
We should at least detect that the server returns an HTML error page instead of the requested PDF.

[2016-12-30 21:28] #629 closed

[2016-12-31 00:39] Darcidride commented on #371
Up, nobody can tell my if it's dangerous, i'm ready to give you the connector informations if you can assure me it's not dangerous... :)

[2017-01-01 16:22] Chocobozzz commented on #371
Hi @Darcidride,

Sorry for the long wait :) I don't see any potential danger to share the keys. In the most worst case somebody else would "steal" the key credentials to abuse the OVH API but in this case your tokens would be simply revoked.

I [created applications keys](https://github.com/cozy-labs/konnectors/commit/b97804fd88f3cba2310fa9bd3a366f66b67e5db1) from my personal account and I still d

[2017-01-02 15:29] clochix commented on #635
At least 42 users hosted on our servers have the same issue.

[2017-01-02 15:42] jacquarg commented on #635
Thanks,
I think I encounter the problem on my account. I may have enough data to find some informations about it.

[2017-01-02 16:07] clochix commented on #635
@jacquarg don't hesitate to ping me on IRC if you want more logs.

[2017-01-02 16:15] jacquarg commented on #635
@clochix:
On my cozy, the log is different ( error 500 instead of 400):
[code]

(I can only access to the public IRC).

[2017-01-02 19:06] Darcidride commented on #371
Ok, taht feels good to me.. Thank you for the answer.

I updated my first post with the needed informations.

[2017-01-02 20:01] Darcidride commented on #371
Here is the PR : https://github.com/cozy-labs/konnectors/pull/643

[2017-01-02 20:21] Darcidride commented on #609
The PR to fix the EN translation : https://github.com/cozy-labs/konnectors/pull/644

[2017-01-02 20:25] Darcidride opened #645 "Eurofil Konnector"
It would be nice to have a konnector for Eurofil that fetches the bills and the certifications.

Eurofil is an insurance company : https://www.eurofil.com/

[2017-01-02 20:25] Darcidride opened #646 "AMV Konnector"
It would be nice to have a konnector for AMV that fetches the bills and the certifications.

AMV is an insurance company : http://www.amv.fr/

[2017-01-02 22:19] #371 closed

[2017-01-04 14:08] ZeHiro opened #650 "Error not caught when downloading a file."
The err from request is not caught here :
https://github.com/cozy-labs/konnectors/blob/master/server/models/file.coffee#L92

In case an error occur, the file should be deleted from /tmp

[2017-01-05 15:22] #609 closed

[2017-01-06 10:04] jacquarg commented on #635
Seems to work back since yesterday (with a fix deployed by Maif on there API).
But the konnectors needs to be reseted ( --> http://mesinfos.fing.org/forum/d/10-param-trer-les-connecteurs/8 )

[2017-01-06 13:38] jbriard opened #654 "OVH.eu konnector not downloading the files"
Hello,
the Konnector look like running but I can't get the new bill's ...

[Fri, 06 Jan 2017 13:32:56 GMT] - PUT /konnectors/ae7d42541a465ace3f4903caa5259145 - 200 - 99.260 ms -  16
[2017-01-06 13:32:56:909] info - Scheduler | ovh_eu: Next update 13/01/2017 at 13:32:56
[Fri, 06 Jan 2017 13:32:57 GMT] - GET /konnectors/ae7d42541a465ace3f4903caa5259145 - 200 - 402.347 ms -  584
[Fri, 06 Jan 2017 13:

[2017-01-06 13:43] ZeHiro commented on #654
@Chocobozzz can you have a look on that ?

[2017-01-06 16:41] nicofrand opened #655 "Wrong year in filenames for Ameli Konnector"
A user reports that a bill from the 22th december 2016 was imported as 20171222 in its filename.
This is due to https://github.com/cozy-labs/konnectors/blob/master/server/konnectors/ameli.coffee#L147 that automatically selects the current year (since it is not provided by the website itself) without checking that this date is not superior to the current date.

[2017-01-06 21:27] clochix opened #656 "[linkedin] Support 2FA"
A user has activated 2FA on its LinkedIn account. He's receiving a SMS every time the konnector try (and fail) to fetch its data.
http://mesinfos.fing.org/forum/d/30-linkedin-avec-double-authentification-liaison-ko

[2017-01-06 22:43] ZeHiro commented on #656
I am not sure this will be supported, as this will be impossible to retreive the auth code when there is auto fetch. Maybe connecting directly to the real api would help.

[2017-01-08 17:48] Chocobozzz commented on #654
I'm sorry I can't reproduce.

@jbriard What are the values of `pdfUrl` (you can see it from Data Browser application) of your OVH bills?

[2017-01-08 17:54] jbriard commented on #654
Humm ...
https://www.ovh.com/cgi-bin/order/bill.pdf?reference=FRxxxxxx&passwd=xxxx
this is the right url for each bill's ...

[2017-01-09 10:10] ZeHiro opened #661 "err not transmitted to client"
here :
https://github.com/cozy-labs/konnectors/blob/master/server/lib/save_data_and_file.coffee#L80

+ missing translation keys

[2017-01-09 10:14] ZeHiro commented on #598
I now does work.

[2017-01-09 10:14] #598 closed

[2017-01-09 10:26] nicofrand opened #662 "Some Bills connectors do not return a date instance"
* https://github.com/cozy-labs/konnectors/blob/master/server/konnectors/edf.coffee#L592

[2017-01-09 10:29] nicofrand commented on #662
Does not use saveDataAndFile, I close the issue.

[2017-01-09 10:29] #662 closed

[2017-01-09 16:22] ZeHiro opened #665 "OVH based konnector do not clearly say "import" should be clicked at first"
konnector description should be updated

[2017-01-09 18:30] ZeHiro commented on #655
Closed by #664

[2017-01-09 18:30] #655 closed

[2017-01-09 19:17] ZeHiro opened #667 "konnector for darty bills"

[2017-01-10 09:04] ZeHiro opened #669 "[enh] Add log.info('Logged in') in each konnector"
It will help debug on production.

[2017-01-10 12:59] ZeHiro opened #670 "EDF konnector pops a notification even when nothing seems to be happening"
the notification is empty. @jacquarg can you check this?

[2017-01-10 13:07] ZeHiro commented on #670
An there is another problem here : https://forum.cozy.io/t/konnectors-probleme-avec-edf/3836/9?u=zehiro

[2017-01-11 11:09] nicofrand opened #671 "Special chars in vendor field should be escaped"
See https://github.com/cozy-labs/konnectors/blob/master/server/lib/naming.coffee#L41.

Besides, the documentation says that if "suffix" is provided, "vendor" is useless but I can't see it in the code : https://github.com/cozy-labs/konnectors/blob/master/server/lib/naming.coffee#L41

[2017-01-11 13:08] ZeHiro opened #672 "[free mobile] Wrong management of multi lines account"
A user reports it has several bills linked to one bank operation.

[2017-01-11 13:41] Darcidride commented on #371
Well, i will psot this here because i just did the 0.7.9 update of the Konnector and actually still can't use the SoYouStart_EU konnector :
![](http://i.imgur.com/h2TB3QO.png)
The field URL is empty